<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">关于我们</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section large bg-transparent">
            <div class="text-center">
                <img ng-src="../images/logo_signin.png" alt="">
            </div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eius sed ad ducimus amet voluptatum perferendis perspiciatis, quaerat accusantium repellat. Dignissimos iste, delectus eius tenetur voluptas mollitia ullam perspiciatis architecto.
        </div>
    </div>
</div>
