<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"About Us" | translate}}</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section large bg-transparent">
            <div class="text-center">
                <img ng-src="../images/logo_signin.png" alt="">
            </div>
            <div class=WordSection1>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"PMingLiU","serif"'>&nbsp;</span></p>
                <p class=MsoNormal align=center style='text-align:center;line-height:21.0pt'><b><span
style='font-size:15.0pt;font-family:"PMingLiU","serif";color:#E36C0A'>悠</span></b><b><span
style='font-size:15.0pt;font-family:"PMingLiU","serif";color:#E36C0A'>译</span></b><b><span
style='font-size:15.0pt;font-family:"PMingLiU","serif";color:#E36C0A'>是什么</span></b><b><span
style='font-size:10.5pt;font-family:"PMingLiU","serif";color:#E36C0A'>？</span></b></p>
                <p class=MsoNormal style='line-height:21.0pt'><span style='font-size:10.5pt;
font-family:"PMingLiU","serif";color:#848484'>悠译是一个跨境<span lang=EN-US>O2O</span>平台，解决跨境交流合作最基本的需要：语言不通和不了解当地文化风俗。</span>
                </p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"PMingLiU","serif";color:#848484'>&nbsp;</span></p>
                <p class=MsoNormal align=center style='text-align:center;line-height:21.0pt'><b><span
style='font-size:15.0pt;font-family:"PMingLiU","serif";color:#E36C0A'>为何要使用悠译？</span></b></p>
                <p class=MsoNormal style='line-height:21.0pt'><span style='font-size:10.5pt;
font-family:"PMingLiU","serif";color:#848484'>不论消费者以何种目的出境（商务、旅行或其他），都可以随时随地在悠译平台上发布任务或搜索适合的当地翻译者——“悠译人”；与此同时，当地具有语言能力的人士，不论是专业的、兼职的或业余的翻译，都可以根据自己的语言能力选择适合的任务。</span></p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"PMingLiU","serif";color:#848484'>&nbsp;</span></p>
                <p class=MsoNormal style='line-height:21.0pt'><span style='font-size:10.5pt;
font-family:"PMingLiU","serif";color:#848484'>通过线上市场，用户们根据需要自主进行配对、轻松交易，从而打破语言和文化的壁垒，让出境更加容易。</span></p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"PMingLiU","serif";color:#848484'>&nbsp;</span></p>
                <p class=MsoNormal align=center style='text-align:center;line-height:21.0pt'><b><span
style='font-size:15.0pt;font-family:"PMingLiU","serif";color:#E36C0A'>悠译的梦想</span></b></p>
                <p class=MsoNormal style='line-height:21.0pt'><span style='font-size:10.5pt;
font-family:"PMingLiU","serif";color:#848484'>悠译是一种生活方式，让更多想看看这个世界的人走得更远也更轻松。</span></p>
                <p class=MsoNormal style='line-height:21.0pt'><span style='font-size:10.5pt;
font-family:"PMingLiU","serif";color:#848484'>悠译是一个属于世界的品牌，它让世界沟通无限。</span></p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"PMingLiU","serif";color:#848484'>&nbsp;</span></p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"PMingLiU","serif";color:#848484'>&nbsp;</span></p>
                <p class=MsoNormal align=center style='text-align:center;line-height:21.0pt'><b><span
lang=EN-US style='font-size:15.0pt;font-family:"Calibri","sans-serif";
color:#E36C0A'>What’s UE Lives?</span></b></p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"Calibri","sans-serif";color:#848484'>UE
Lives is a cross-board O2O platform, fulfilling the basic needs on
communication between different languages and cultures in international
cooperation.</span></p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"Calibri","sans-serif";color:#848484'>&nbsp;</span></p>
                <p class=MsoNormal align=center style='text-align:center;line-height:21.0pt'><b><span
lang=EN-US style='font-size:15.0pt;font-family:"Calibri","sans-serif";
color:#E36C0A'>Why Using UE Lives?</span></b></p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"Calibri","sans-serif";color:#848484'>No
matter customers go abroad for business, travel or any other purposes, they can
easily publish a task or search for a suitable local interpreter—UE as we
called. Meanwhile, the local who speak relevant languages, professional
interpreters or amateurs, can select and apply for suitable tasks.</span></p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"Calibri","sans-serif";color:#848484'>&nbsp;</span></p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"Calibri","sans-serif";color:#848484'>In
this online market, users can match and transact based on their needs and
requirements, so that the language and culture barrels can be broken down and
going abroad becomes easier.</span></p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"Calibri","sans-serif";color:#848484'>&nbsp;</span></p>
                <p class=MsoNormal align=center style='text-align:center;line-height:21.0pt'><b><span
lang=EN-US style='font-size:15.0pt;font-family:"Calibri","sans-serif";
color:#E36C0A'>UE’s Dreams</span></b></p>
                <p class=MsoNormal style='line-height:21.0pt'><span lang=EN-US style='font-size:10.5pt;font-family:"Calibri","sans-serif";color:#848484'>UE
Lives is a life-style, making people who are curious about this world can go explore
the world more easily. UE Lives is a global brand, making the world communicate
without barrier.</span></p>
            </div>
        </div>
    </div>
</div>
