<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"Ads" | translate}}</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section large">
            <form name="adForm" ng-submit="ajaxForm()">
                <p>{{ "Please contact us for any advertisement enquiry or quotation." | translate}} </p>
                <p>
                	<textarea class="form-control" rows="10" placeholder="{{ 'Please briefly describe your business and advertisement needs here. We will get back to you soon.'| translate}}" ng-model="input.content" required></textarea>
                </p>
				<button type="submit" class="btn btn-primary full-width" ng-disabled="adForm.$invalid">{{"Confirm" | translate}}</button>
            </form>
        </div>
    </div>
</div>
