<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">申请人列表</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="recommands">
            <div class="recommand" ng-repeat="applicant in applicants track by $index">
                <div class="recommand-header">
                    {{applicant.nickname}} <i class="kk kk-icon" ng-class="{'kk-male':applicant.gender=='1','kk-female':applicant.gender !='1'}"></i>
                </div>
                <div class="recommand-body">
                    <div>语种：{{applicant.return_language}}</div>
                    <p>所在地：{{applicant.address}}</p>
                    <p>个人简介：{{applicant.introduction}}</p>
                    <div class="clearfix">
                        <div class="pull-left">
                            <a ng-click="like(applicant)" class="btn btn-default" ng-if="applicant.is_collect == '0'">
                                <i class="kk kk-like"></i> {{"Follow" | translate}}
                            </a>
                            <a ng-click="unlike(applicant)" class="btn btn-default" ng-if="applicant.is_collect == '1'">
                                <i class="kk kk-like active"></i> {{"Followed" | translate}}
                            </a>
                        </div>
                        <div class="pull-right">
                            <a ng-click="accept(applicant)" class="btn btn-default">
                                <i class="kk kk-accept" ng-class="{'active':applicant.status == '1'}"></i> {{applicant.status_message}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="recommand-avatar" ng-click="preview_translator(applicant.user_id)">
                    <img ng-src="{{staticImageUrl + applicant.avatar || '../images/avatar_1.png'}}" err-src="../images/avatar_1.png" alt="">
                </div>
            </div>
            <div class="section text-center m" ng-click="loadMore()">{{page.message}}</div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if="payment_panel" ui-state='payment_panel'>
        <form name="paymentForm" ng-submit="ajaxForm()" class="modal-dialog" style="margin:0">
            <div class="modal-content">
                <div class="modal-header bg-primary clearfix">
                    <div class="pull-left section section-condensed bg-transparent" ui-turn-off="payment_panel">
                        <i class="fa fa-chevron-left" style="position:relative;top:3px"></i>
                    </div>
                    <h4 class="modal-title text-center">{{"Payment" | translate}}</h4>
                    <div class="section bg-transparent text-center">
                        <p>{{"Going to Pay" | translate}}</p>
                        <span class="text-very-large">{{payment_money.price_sign}}{{payment_money.total_money | currency:""}}</span>
                    </div>
                </div>
                <div class="modal-body" style="padding:0;">
                    <div class="section">
                        <div class="media">
                            <div class="media-left">
                                <div class="circle icon-70">
                                    <img class="media-object block full-width" ng-src="{{staticImageUrl + payment_user.avatar || '../images/avatar.png'}}" err-src="../images/avatar_1.png" alt="">
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading text-ellipsis">{{payment_user.nickname}}</h4>
                                <div>语种：{{payment_user.return_language}}</div>
                                <div>所在地：{{payment_user.address}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="section large bg-gray-lighter text-primary clearfix">
                        {{"Pay by Balance" | translate}}
                        <span class="pull-right">
                            <span class="switch switch-transition-enabled" ng-class="{'active':payway.balance}" ng-click="togglePayway()">
                                <span class="switch-handle"></span>
                        </span>
                        </span>
                    </div>
                    <div class="section large">
                        当前可用余额 <span class="text-primary">{{payment_money.price_sign}}{{payment_money.current_money |currency:""}}</span>
                    </div>
                    <div class="section large bg-gray-lighter text-primary clearfix">
                        {{"Payment Method" | translate}}
                        <span class="pull-right">
                            <span class="switch switch-transition-enabled" ng-class="{'active':!payway.balance}" ng-click="togglePayway()">
                                <span class="switch-handle"></span>
                        </span>
                        </span>
                    </div>
                    <div class="list-group">
                        <label class="list-group-item">
                            {{"Unionpay" | translate}}
                            <input type="radio" class="hidden" ng-model="payway.channel" value="yinlian">
                            <i class="kk kk-25 kk-checked pull-right" ng-class="{'active':(payway.channel == 'yinlian' && !payway.balance)}"></i>
                        </label>
                        <label class="list-group-item">
                            {{"WeChat" | translate}}
                            <input type="radio" class="hidden" ng-model="payway.channel" value="weixin">
                            <i class="kk kk-25 kk-checked pull-right" ng-class="{'active':(payway.channel == 'weixin' && !payway.balance)}"></i>
                        </label>
                        <label class="list-group-item">
                            {{"AliPay" | translate}}
                            <input type="radio" class="hidden" ng-model="payway.channel" value="alipay">
                            <i class="kk kk-25 kk-checked pull-right" ng-class="{'active':(payway.channel == 'alipay' && !payway.balance)}"></i>
                        </label>
                    </div>
                    <div class="section text-center">
                        <p class="section large bg-transparent" ng-if="wallet.is_setPayPwd == 0">
                            请先设置交易密码
                        </p>
                        <button type="submit" class="btn btn-primary" ng-disabled="paymentForm.edit.$invalid || wallet.is_setPayPwd == 0">确认并支付</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal" ui-if="password_panel" ui-state='password_panel' style="z-index:5000">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close text-primary" ui-turn-off="password_panel">&times;</button>
                    <h4 class="modal-title text-center">请输入支付密码</h4>
                </div>
                <div class="modal-body">
                    <span class="password-input">
                        <input type="password" class="form-control" ng-model="input.password" focus-me="true">
                        <span class="dot dot_{{$index}}" ng-repeat="d in imulate_password track by $index"></span>
                    </span>
                    <p class="text-primary text-center">{{input.error_message}}</p>
                </div>
                <div class="modal-footer text-center">
                    <div class="btn-group justified">
                        <a ui-turn-off="password_panel" class="btn btn-default">取消</a>
                        <a ng-click="ajaxForm()" ng-disabled="input.password == ''" class="btn btn-primary">确定<i class="fa fa-refresh" ng-show="input.paying"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
