<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"Applicants" | translate}}</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="recommands">
            <div class="recommand" ng-repeat="applicant in applicants track by $index">
                <div class="recommand-header">
                    {{applicant.nickname}} <i class="kk kk-icon" ng-class="{'kk-male':applicant.gender=='1','kk-female':applicant.gender !='1'}"></i>
                </div>
                <div class="recommand-body" ng-click="preview_translator(applicant.user_id)">
                    <div>{{"Language" | translate}}：{{applicant.return_language}}</div>
                    <p>{{"Place" | translate}}：{{applicant.address}}</p>
                    <p>{{"Profile" | translate}}：{{applicant.introduction}}</p>
                    <p ng-if="applicant.contact_request_status == '1'">{{applicant.contact_request}}</p>
                    <div class="clearfix">
                        <div class="pull-left">
                            <a ng-click="like(applicant,$event)" class="btn btn-default" ng-if="applicant.is_collect == '0'">
                                <i class="kk kk-like"></i> {{"Follow" | translate}}
                            </a>
                            <a ng-click="unlike(applicant,$event)" class="btn btn-default" ng-if="applicant.is_collect == '1'">
                                <i class="kk kk-like active"></i> {{"Followed" | translate}}
                            </a>
                        </div>
                        <div class="pull-right">
                            <a ng-click="accept(applicant,$event)" class="btn btn-default">
                                <i class="kk kk-accept" ng-class="{'active':applicant.status == '1'}"></i> {{applicant.status_message}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="recommand-avatar" ng-click="preview_translator(applicant.user_id)">
                    <img ng-src="{{staticImageUrl + applicant.avatar || '../images/avatar_1.png'}}" err-src="../images/avatar_1.png" alt="">
                </div>
            </div>
            <div class="section text-center m" ng-click="loadMore()">{{page.message | translate}}</div>
        </div>
    </div>
</div>
<!-- alipay -->
<form name="alipayForm" method="post" id="alipayForm" action="https://mapi.alipay.com/gateway.do?_input_charset=utf-8">
    <input type="hidden" name="service" value="{{alipay.service}}">
    <input type="hidden" name="partner" value="{{alipay.partner}}">
    <input type="hidden" name="seller_id" value="{{alipay.seller_id}}">
    <input type="hidden" name="_input_charset" value="{{alipay._input_charset}}">
    <input type="hidden" name="payment_type" value="{{alipay.payment_type}}">
    <input type="hidden" name="notify_url" value="{{alipay.notify_url}}">
    <input type="hidden" name="return_url" value="{{alipay.return_url}}">
    <input type="hidden" name="out_trade_no" value="{{alipay.out_trade_no}}">
    <input type="hidden" name="subject" value="{{alipay.subject}}">
    <input type="hidden" name="total_fee" value="{{alipay.total_fee}}">
    <input type="hidden" name="show_url" value="{{alipay.show_url}}">
    <input type="hidden" name="body" value="{{alipay.body}}">
    <input type="hidden" name="it_b_pay" value="{{alipay.it_b_pay}}">
    <input type="hidden" name="extern_token" value="{{alipay.extern_token}}">
    <input type="hidden" name="sign" value="{{alipay.sign}}">
    <input type="hidden" name="sign_type" value="{{alipay.sign_type}}">
</form>
