<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"Select Language" | translate}}</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <form ng-submit="ajaxForm()" name="releaseForm">
            <!-- step 1 -->
            <div ui-state="step" ui-default="step=1" ui-if="step == '1'">
                <div class="text-center" style="margin:50px auto 50px">
                    <img src="../images/step_1.png" alt="">
                </div>
                <div class="kk-select">
                    <select name="" id="" class="form-control block full-width rectangle text-primary" ng-model="choosen_language.from" ng-options="o as o.name for o in languages">
                    </select>
                </div>
                <div class="kk-select">
                    <select name="" id="" class="form-control block full-width rectangle text-primary" ng-model="choosen_language.to" ng-options="o as o.name for o in languages">
                    </select>
                </div>
                <div class="text-right section large bg-transparent" style="margin-top:150px">
                    <button type="button" class="btn btn-success" ng-disabled="!(choosen_language.to && choosen_language.from) || choosen_language.to == choosen_language.from" ui-set="{step:2}">{{"Next" | translate}}</button>
                </div>
            </div>
            <!-- step 2 -->
            <div ui-if="step == '2'">
                <div ui-content-for="title">{{"Task Details" | translate}}</div>
                <div class="text-center" style="margin:50px auto 50px">
                    <img src="../images/step_2.png" alt="">
                </div>
                <div class="section large ">
                    <div class="semi-auto semi-left-40">
                        <div class="semi-fixed-left">
                            <span class="btn section-wide">
                                <i class="kk kk-30 kk-calendar"></i>
                            </span>
                        </div>
                        <!-- begin -->
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center semi-wide-80">
                                <span class="btn section-wide text-ellipsis">{{"Start Date" | translate}}</span>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-xs-7 section-wide">
                                        <input type="text" class="youyi-date form-control col-xs-8" name="from_date" pick-a-date="input.from_date" pick-a-date-options="input.from_date_options" placeholder="{{'Please choose'| translate}}" required>
                                    </div>
                                    <div class="col-xs-5 section-wide">
                                        <input type="text" class="youyi-time form-control col-xs-4" name="from_time" pick-a-time="input.from_time" pick-a-time-options="input.time_options" placeholder="{{'Please choose'| translate}}" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end -->
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center semi-wide-80">
                                <span class="btn section-wide text-ellipsis">{{"End Date" | translate}}</span>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-xs-7 section-wide">
                                        <input type="text" class="youyi-date form-control col-xs-8" name="to_date" pick-a-date="input.to_date" pick-a-date-options="input.to_date_options" placeholder="{{'Please choose'| translate}}" required>
                                    </div>
                                    <div class="col-xs-5 section-wide">
                                        <input type="text" class="youyi-time form-control col-xs-4" name="to_time" pick-a-time="input.to_time" pick-a-time-options="input.to_time_options" placeholder="{{'Please choose'| translate}}" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center semi-wide-80">
                                <span class="btn section-wide text-ellipsis"></span>
                            </div>
                            <div class="text-right text-primary" style="margin-top:12px">{{"Based on Local Time"|translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="kk-line kk-5 kk-horizon"></div>
                <div class="section large">
                    <div class="semi-auto semi-left-40">
                        <div class="semi-fixed-left semi-wide-40">
                            <div class="section section-wide">
                                {{"Title" | translate}}<span class="text-danger">*</span>
                            </div>
                        </div>
                        <div>
                            <input type="text" class="form-control youyi-flat-input text-right" name="title" ng-model="input.title" required placeholder="{{'Please enter Title' | translate}}">
                        </div>
                        <!-- <div class="semi-fixed-right semi-wide-40">
                            <span class="btn"><i class="fa fa-chevron-right text-gray-light"></i></span>
                        </div> -->
                    </div>
                </div>
                <div class="kk-line kk-horizon"></div>
                <div class="section large">
                    <div class="semi-auto semi-left-40">
                        <div class="semi-fixed-left semi-wide-40">
                            <div class="section section-wide">
                                {{"Type" | translate}}<span class="text-danger">*</span>
                            </div>
                        </div>
                        <div class="btn-group justified">
                            <label class="btn rectangle" ng-class="{'text-primary':input.category.name ==category.name,'bg-gray-lighter':input.category.name  != category.name}" ng-repeat="category in categories">
                                <input type="radio" class="hide" name="category" ng-model="input.category " ng-value="category">{{category.name | translate}}</label>
                        </div>
                        <div class="section section-wide" ng-show="input.category.name  =='其它'">
                            <input type="text" class="form-control rectangle" name="other" ng-model="other">
                        </div>
                    </div>
                </div>
                <div class="kk-line kk-5 kk-horizon"></div>
                <div class="section large">
                    <div class="semi-auto semi-left-40">
                        <div class="semi-fixed-left semi-wide-40">
                            {{"Price" | translate}}<span class="text-danger">*</span>
                        </div>
                        <div class="semi-auto semi-icon-bar">
                            <div class="text-right">{{input.currency}}{{input.price}}</div>
                            <span class="semi-fixed-right semi-wide-40 text-center">
                                <span class="">/{{"Day" | translate}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kk-line kk-horizon"></div>
                <div class="section large">
                    <div class="semi-auto semi-left-40">
                        <div class="semi-fixed-left semi-wide-40">
                            {{"Place" | translate}}<span class="text-danger">*</span>
                        </div>
                        <div class="section large text-right">
                            {{choosen.city.name}}
                        </div>
                    </div>
                </div>
                <div class="kk-line kk-5 kk-horizon"></div>
                <!-- <div class="section large">
                    <div class="semi-auto semi-icon-bar">
                        <div class="semi-fixed-left">
                            <div class="section section-wide">
                                {{"Task Details" | translate}}<span class="text-danger">*</span>
                            </div>
                        </div>
                        <div>
                            <input type="text" class="form-control youyi-flat-input text-right" name="content" ng-model="input.content" required placeholder="{{'Please enter' | translate}}">
                        </div>
                        <div class="semi-fixed-right semi-wide-40">
                            <span class="btn"><i class="fa fa-chevron-right text-gray-light"></i></span>
                        </div>
                    </div>
                </div> -->
                <div class="section large">
                    {{"Task Details" | translate}}<span class="text-danger">*</span>
                </div>
                <div class="kk-line kk-5 kk-horizon"></div>
                <div class="section large">
                    <textarea name="content" cols="30" rows="10" class="form-control" ng-model="input.content" required placeholder="{{'Please enter' | translate}}"></textarea>
                </div>
                <div class="section large bg-transparent">
                    {{"Please describe the task details, schedule, and requirements. If there is any request for other service (e.g. airport pick-up or vehicle), please specify.Note: any fee caused by other services and any additional fees(e.g.tickets for resorts, or intra - city transportation, etc.) are not included in the interpretering fee,and should be paid by the task owner.Please negotiate details with the interpreter after the task is confirmed."|translate}}
                </div>
                <div class="section large bg-transparent">
                    <button type="button" class="btn btn-default pull-left" ui-set="{step:1}">{{"Previous" | translate}}</button>
                    <button type="button" class="btn btn-success pull-right" ng-disabled="releaseForm.$invalid || choosen.city.name ==''|| input.from_date ==''|| input.from_time ==''|| input.to_date ==''|| input.to_time ==''" ng-click="next({step:'3'})">{{"Next" | translate}}</button>
                </div>
            </div>
            <!-- step 3 -->
            <div ui-if="step == '3'">
                <div class="text-center" style="margin:50px auto 50px">
                    <img src="../images/step_3.png" alt="">
                </div>
                <div class="task-section">
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80" style="min-height:80px">
                            <div class="semi-fixed-left text-center circle icon-70">
                                <img ng-src="{{staticImageUrl + user.avatar || '../images/avatar.png'}}" width="70px" alt="" err-src="../images/avatar_1.png">
                            </div>
                            <div style="padding-bottom:8px;">
                                {{input.title}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                {{"Language" | translate}}：
                            </div>
                            <div style="padding-bottom:8px;">
                                {{choosen_language.from.name}}/{{choosen_language.to.name}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                {{"Date" | translate}}：
                            </div>
                            <div style="padding-bottom:8px;">
                                <p>{{input.from_date | date:"yyyy-MM-dd"}}<span class="btn"></span>{{input.from_time | date:"HH:mm"}} {{"TO"|translate}}</p>
                                {{input.to_date | date:"yyyy-MM-dd"}}<span class="btn"></span>{{input.to_time | date:"HH:mm"}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                {{"Type" | translate}}：
                            </div>
                            <div style="padding-bottom:8px;">
                                {{input.category.name}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                {{"Price" | translate}}：
                            </div>
                            <div style="padding-bottom:8px;">
                                {{input.price}}/{{"Day" | translate}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                {{"Total Price" | translate}}：
                            </div>
                            <div style="padding-bottom:8px;">
                                {{input.total_money_symbol}}{{input.total}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                {{"Introduction" | translate}}：
                            </div>
                            <div style="padding-bottom:8px;">
                                {{input.total_money_message}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                {{"Place" | translate}}：
                            </div>
                            <div style="padding-bottom:8px;">
                                <!-- {{choosen.city.country +","+choosen.city.name}} -->
                                {{choosen.city.name}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                {{"Task Details" | translate}}：
                            </div>
                            <div style="padding-bottom:8px;">
                                {{input.content}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section bg-transparent">
                    <p>{{"Important Notice"|translate}}：</p>
                    {{"UE Lives provides this platform to facilitate transaction, but we are not a local service provider and do not provide local services. Users should select services wisely. UE Lives is not responsible for any lost. If there is any charge for non-voluntary activities or shopping, please report to us."|translate}}
                </div>
                <div class="section large bg-transparent">
                    <button type="button" class="btn btn-default pull-left" ui-set="{step:2}">{{"Previous" | translate}}</button>
                    <button type="submit" class="btn btn-warning pull-right">{{"Confirm" | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal" ui-if="modal2" ui-state='modal2'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog" style="margin-top:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{tips}}</h4>
                </div>
                <div class="modal-footer text-center">
                    <button class="btn btn-default" ng-click="close()">{{"Not Create,Back" | translate}}</button>
                    <button class="btn btn-primary" ng-click="create()">{{"Create" | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
