<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"Language Certificate" | translate}}</div>
<div ui-content-for="navbarAction">
    <!-- <span class="btn" ui-turn-on="upload_panel">{{"Add" | translate}}</span> -->
</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-header">
        <div class="section large" ui-turn-on="upload_panel">
            <i class="fa fa-plus-circle text-primary"></i> {{"Add" | translate}}
        </div>
    </div>
    <div class="scrollable-content">
        <div class="section bg-transparent text-center">
            <div class="section bg-transparent" ng-repeat="authen in authen_entries">
                <img ng-src="{{staticImageUrl + authen.cover}}" class="block full-width" alt="">
                <div class="section"></div>
                <div class="section section-wide bg-transparent text-left" ng-click="reupload(authen)" style="padding-bottom:0;padding-top:16px">
                    {{"Certificate name" | translate}}：{{authen.title}}, <span class="authen-status-{{authen.status}}">{{authen.status_message}}</span>
                </div>
            </div>
            <div class="section" ng-if="authen_entries.length == 0">{{"No Authenication Information" | translate}}</div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if="upload_panel" ui-state='upload_panel'>
        <div class="modal-dialog scrollable-dialog" style="margin:0">
            <div class="modal-content">
                <div class="modal-header bg-primary clearfix">
                    <div class="pull-left section section-condensed bg-transparent" ui-turn-off="upload_panel">
                        <i class="fa fa-chevron-left" style="position:relative;top:3px"></i>
                    </div>
                    <h4 class="modal-title text-center">{{"Add Photo" | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div flow-init="{singleFile:true}" ng-controller="authenLanguageUploadController" class="uploader">
                        <div class="section text-center">
                            <div class="block full-width flow-btn text-center">
                                <!-- <img flow-btn flow-attrs="{accept:'image/*'}" class="needsclick" ng-src="../images/upload_1.png" ng-show="!$flow.files.length" alt=""> -->
                                <div class="preview-btn needsclick" flow-btn flow-attrs="{accept:'image/*'}" ng-show="!$flow.files.length">
                                </div>
                                <div class="preview-box" ng-show="$flow.files.length">
                                    <span class="remove-btn" ng-click="$flow.files[0].cancel()"></span>
                                    <img flow-img="$flow.files[0]">
                                </div>
                            </div>
                            <div class="progress progress-striped rectangle" ng-class="{active: $flow.files[0].isUploading()}">
                                <div class="progress-bar" role="progressbar" ng-style="{width: ($flow.files[0].progress() * 100) + '%'}">{{}}</div>
                            </div>
                        </div>
                        <div class="section">
                            <input type="text" class="form-control rectangle" ng-model="input.title" required placeholder="请输入描述">
                        </div>
                        <div class="section">
                            <button type="button" class="btn btn-danger full-width" ng-click="ajaxForm($flow)" ng-disabled="$flow.files.length < 1 || input.title == ''">{{"Submit to Authentication" | translate}}</button>
                        </div>
                        <div class="section large text-grey text-center text-small">
                            {{"Information Authentication will be finish in two day" | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
