<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">语言认证</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		
        <div flow-init ng-controller="authenLanguageUploadController" class="uploader" ng-if="!user.language_identity">
            <div class="section large"></div>
            <div class="section large text-center">
                <span class="block full-width flow-btn text-center">
                    <img src="../images/upload_1.png" ng-show="!$flow.files.length" alt="">
                    <div ng-repeat="file in $flow.files" class="preview-box">
                        <span class="remove-btn" ng-click="file.cancel()"></span>
		                <img flow-img="file" alt="">
		            </div>
            	</span>
        	</div>
        <div class="section large">
            <div class="btn-group justified">
                <span flow-btn flow-attrs="{accept:'image/*'}" class="btn btn-primary needsclick" >添加证书</span>
                <span class="btn btn-danger" ng-click="ajaxForm($flow)" ng-show="$flow.files.length > 0">提交审核</span>
            </div>
        </div>
        <div class="section large text-grey text-center text-small">
            我们将在1-2个工作日内完成信息审核
        </div>
    </div>
    <div class="section large text-center" ng-if="user.language_identity">
        <h4 class="text-center"><p>恭喜您，通过语言等级认证</p>下面是您的认证信息</h4>
        <div class="preview-box">
            <img ng-src="{{staticImageUrl + user.profession_identity}}" alt="" style="margin-bottom:5px;" class="block full-width">
        </div>
    </div>

	</div>
</div>