<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"Withdraw" | translate}}</div>
<div ui-content-for="navbarAction">
    <a ng-href="#/records" class="btn">{{"Withdraw Record" | translate}}</a>
</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <form class="scrollable-content" name="cashForm">
        <div class="list-group">
            <div class="list-group-item clearfix kk-input-group">
                <span class="btn col-xs-3 section-wide text-left">{{"Amount" | translate}}</span>
                <span class="col-xs-9 section-wide">
                    <input type="number" name="money" class="form-control youyi-flat-input col-xs-8" ng-model="input.money" placeholder="{{'Max. Amount xxx' | translate}}{{wallet.money}}" ng-model="input.money" required>
            </div>
            <div class="list-group-item clearfix kk-input-group">
                <span class="btn col-xs-3 section-wide text-left">{{"Bank Name" | translate}}</span>
                <span class="col-xs-9 section-wide">
                    <input type="text" name="bank_name" class="form-control youyi-flat-input col-xs-8" placeholder="{{'Enter Complete Bank Name Correctly' | translate}}" ng-model="input.bank_name" required>
                </span>
            </div>
            <div class="list-group-item clearfix kk-input-group">
                <span class="btn col-xs-3 section-wide text-left">{{"Bank Account No." | translate}}</span>
                <span class="col-xs-9 section-wide">
                    <input type="text" name="bank_cardno" class="form-control youyi-flat-input col-xs-8" placeholder="请输入银行卡号" ng-model="input.bank_cardno" required>
                </span>
            </div>
            <div class="list-group-item clearfix kk-input-group">
                <span class="btn col-xs-3 section-wide text-left">{{"Cardholder Name" | translate}}</span>
                <span class="col-xs-9 section-wide">
                    <input type="text" name="realname" class="form-control youyi-flat-input col-xs-8" placeholder="请输入开户人姓名" ng-model="input.realname" required>
                </span>
            </div>
        </div>
        <p class="section large bg-transparent">
            {{"Once your application is approved, money will be transferred to you account after 2-3 working days. Any inquiries, Pls. Contact xxxx" | translate}}
        </p>
        <p class="section large bg-transparent" ng-if="wallet.is_setPayPwd == 0">
            <button type="button" class="btn bg-gray block full-width text-white">请先设置交易密码</button>
        </p>
        <p class="section large bg-transparent" ng-if="wallet.is_setPayPwd == 1">
            <button type="button" class="btn btn-primary block full-width" ng-disabled="cashForm.$invalid" ui-turn-on="password_panel">{{"Submit" | translate}}</button>
        </p>
    </form>
</div>
<div ui-content-for="modals">
    <div class="modal" ui-if="password_panel" ui-state='password_panel'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close text-primary" ui-turn-off="password_panel">&times;</button>
                    <h4 class="modal-title text-center">请输入支付密码</h4>
                </div>
                <div class="modal-body">
                    <span class="password-input">
                        <input type="password" class="form-control" ng-model="input.password" focus-me="true">
                        <span class="dot dot_{{$index}}" ng-repeat="d in imulate_password track by $index"></span>
                    </span>
                    <p class="text-primary text-center">{{error.message}}</p>
                </div>
                <div class="modal-footer text-center">
                    <div class="btn-group justified">
                        <a ui-turn-off="password_panel" class="btn btn-default">取消</a>
                        <a ng-click="ajaxForm()" ng-disabled="input.password == ''" class="btn btn-primary">确定<i class="fa fa-refresh" ng-show="input.paying"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
