<div class="filter-cover" ng-click="reset_filter()"></div>
<div class="category" style="top:{{offset_top}}">
    <div class="list-group">
        <label class="list-group-item" ng-repeat="category in categories track by $index" ng-class="{'list-group-item-warning':category.name == choosen.category.name}">
            <input type="radio" class="hidden" ng-model="choosen.category" ng-value="category">
            {{category.name | translate}}
        </label>
    </div>
</div>
<div class="location-footer">
    <div class="btn-group justified">
        <span class="btn btn-primary rectangle" ng-click="reset_category()">{{"Reset" | translate}}</span>
    </div>
</div>