<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"Comments" | translate}}</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content multi-upload" flow-init ng-controller="commentUploadController">
        <div class="section large">
            <div class="media">
                <div class="media-left">
                    <div class="circle icon-70">
                        <img class="media-object" ng-src="{{staticImageUrl + task.avatar || '../images/avatar.png'}}" err-src="../images/avatar_1.png" alt="">
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{task.task_title}}</h4>
                    <div class="kk-line kk-horizon bg-gray-lighter"></div>
                    <div class="section section-wide">{{task.nickname}}</div>
                </div>
            </div>
        </div>
        <div class="kk-line kk-horizon bg-gray-lighter"></div>
        <div class="list-group">
            <div class="list-group-item">
                <div class="btn-group justified">
                    <span class="btn btn-default" ng-repeat="level in levels track by $index" ng-class="{'btn-primary':input.level.type==level.type}" ng-click="grade(level)">
                        <i class="kk kk-icon" ng-class="{'kk-good':level.type == '1','kk-soso':level.type == '2','kk-bad':level.type == '3','active':input.level.type==level.type}"></i>
                        {{level.name}}
                    </span>
                </div>
            </div>
            <div class="list-group-item">
                <textarea class="form-control rectangle" ng-model="input.note" required placeholder="{{'Write Something' | translate}}"></textarea>
                <div ng-repeat="file in $flow.files" class="preview-box">
                    <span class="remove-btn" ng-click="file.cancel()"></span>
                    <img flow-img="file" class="flow-img" alt="">
                </div>
                <span flow-btn class="upload-btn needsclick"></span>
            </div>
            <div class="list-group-item bg-transparent">
                {{"Give Star(s)" | translate}}
            </div>
            <div class="list-group-item">
                <div class="row" style="margin-bottom:8px">
                    <div class="col-xs-3">{{"Service Attitude" | translate}}</div>
                    <div class="col-xs-9">
                        <i class="fa fa-star text-gray-light text-large" style="padding-right:8px" ng-repeat="s in fiveStar() track by $index" ng-click="rate('service',$index)" ng-class="{'text-primary':!(input.star.service<$index)}"></i>
                    </div>
                </div>
                <div class="row" style="margin-bottom:8px">
                    <div class="col-xs-3">{{"Proficiency" | translate}}</div>
                    <div class="col-xs-9">
                        <i class="fa fa-star text-gray-light text-large" style="padding-right:8px" ng-repeat="s in fiveStar() track by $index" ng-click="rate('profession',$index)" ng-class="{'text-primary':!(input.star.profession<$index)}"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">{{"Language Skill" | translate}}</div>
                    <div class="col-xs-9">
                        <i class="fa fa-star text-gray-light text-large" style="padding-right:8px" ng-repeat="s in fiveStar() track by $index" ng-click="rate('language',$index)" ng-class="{'text-primary':!(input.star.language<$index)}"></i>
                    </div>
                </div>
            </div>
            <div class="list-group-item bg-transparent">
                {{"Tags" | translate}}
            </div>
            <div class="list-group-item">
                <div class="row grid-gutter">
                    <div class="col-xs-4" ng-repeat="tag in tags track by $index">
                        <span class="btn btn-default rectangle full-width" ng-class="{'btn-primary':tag.selected}" ng-click="toggleTag(tag)">{{tag.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group">
            <a ng-href="#/report/{{input.task_id}}" class="list-group-item">
                <span class="pull-left" style="padding-right:5px">
                    <i class="fa fa-phone fa-rotate-90"></i>
                </span>
                <span class="list-group-item-text">{{"Report or Complain" | translate}}</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
        </div>
        <div class="section large">
            <a ng-click="releaseComment($flow)" class="btn btn-success block full-width">{{"Confirm" | translate}}</a>
        </div>
    </div>
</div>
