<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"Contact Us" | translate}}</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section large">
            <form name="contactForm" ng-submit="ajaxForm()">
                <p class="btn-group justified">
                    <label class="btn btn-default text-ellipsis" ng-class="{'active':input.issue == '0'}"><input type="radio" class="hide" ng-model="input.issue" value="0">{{"Authentication" | translate}}</label>
                    <label class="btn btn-default text-ellipsis" ng-class="{'active':input.issue == '1'}"><input type="radio" class="hide" ng-model="input.issue" value="1">{{"Payment"| translate}}</label>
                    <label class="btn btn-default text-ellipsis" ng-class="{'active':input.issue == '2'}"><input type="radio" class="hide" ng-model="input.issue" value="2">{{"Settlement" | translate}}</label>
                </p>
                <p class="btn-group justified">
                    <label class="btn btn-default text-ellipsis" ng-class="{'active':input.issue == '3'}"><input type="radio" class="hide" ng-model="input.issue" value="3">{{"Events" | translate}}</label>
                    <label class="btn btn-default text-ellipsis" ng-class="{'active':input.issue == '4'}"><input type="radio" class="hide" ng-model="input.issue" value="4">{{"Others"| translate}}</label>
                </p>
                <p>
                    <textarea class="form-control" rows="10" placeholder="{{ 'Any questions, suggestions, or problems can be input here, we will get back to you soon!'| translate}}" name="issue_content" ng-model="input.content" required></textarea>
                </p>
                <button type="submit" class="btn btn-primary full-width" ng-disabled="contactForm.$invalid">{{"Confirm" | translate}}</button>
            </form>
        </div>
    </div>
</div>
