<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"My Followings" | translate}}</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="recommands">
            <div class="recommand" ng-repeat="translator in translators">
                <div class="recommand-header">
                    {{translator.nickname}} <i class="kk kk-icon" ng-class="{'kk-male':translator.gender=='1','kk-female':translator.gender !='1'}"></i>
                </div>
                <div class="recommand-body" ng-click="preview_translator(translator.collection_user_id)">
                    <div>{{"Language" | translate}}：{{translator.return_language}}</div>
                    <p>{{"Place" | translate}}：{{translator.address}}</p>
                    <p>{{"Profile" | translate}}：{{translator.introduction}}</p>
                    <div class="clearfix">
                        <div class="pull-left">
                            <a ng-click="unlike(translator,$event)" class="btn btn-default">
                            	<i class="kk kk-like active"></i>
                            	{{"Followed" | translate}}
                            </a>
                        </div>
                        <div class="pull-right">
                            <a ng-click="apply(translator.collection_user_id,$event)" class="btn btn-default">
                            	<i class="kk kk-accept"></i>
                            	{{"Apply" | translate}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="recommand-avatar" ng-click="preview_translator(translator.collection_user_id)">
                    <img ng-src="{{staticImageUrl + translator.avatar || '../images/avatar_1.png'}}" err-src="../images/avatar_1.png" alt="">
                </div>
            </div>
            
        </div>
        <div class="section text-center m" ng-click="loadMore()">{{page.message | translate}}</div>
    </div>
</div>
