<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">
    <span class="search-input">
        <input type="text" class="form-control full-width" placeholder="请输入关键字">
    </span>
</div>
<div ui-content-for="navbarAction">
    <a ng-href="#/setting" class="btn sidebar-toggle" ng-if="user.user_id">
        <i class="fa fa-cog text-large"></i>
    </a>
</div>
<div ui-content-for="backAction">
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-bars text-large"></i>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-header">
        <!-- banner -->
        <banner data-options="{}" data-rate="750/175">
            <div class="image-holder" ng-repeat="b in banners" on-repeat-done>
                <img ng-src="{{staticImageUrl + b.cover}}" err-src="../images/banner.png" class="block full-width" alt="">
            </div>
        </banner>
        <!-- filter -->
        <div class="section section-condensed" id="filter">
            <div class="btn-group justified">
                <label class="btn">
                    <input type="radio" name="filter" class="hide" ng-model="filter.name" value="language">语言<i class="kk kk-icon" ng-class="{'kk-check':choosen.languages.length == 2}"></i></label>
                <label class="btn">
                    <input type="radio" name="filter" class="hide" ng-model="filter.name" value="location">地点<i class="kk kk-icon" ng-class="{'kk-check':choosen.city.name != ''}"></i></label>
                <label class="btn">
                    <input type="radio" name="filter" class="hide" ng-model="filter.name" value="price">价格<i class="kk kk-icon" ng-class="{'kk-check':choosen.price.range != ''}"></i></label>
                <label class="btn">
                    <input type="radio" name="filter" class="hide" ng-model="filter.name" value="category">类型<i class="kk kk-icon" ng-class="{'kk-check':choosen.category.name != ''}"></i></label>
            </div>
        </div>
    </div>
    <div class="scrollable-content">
        <!-- normal content -->
        <a ng-href="#/tasks/{{task.task_id}}" class="task-section" ng-repeat="task in tasks">
            <div class="section text-ellipsis">
                <img ng-src="{{staticImageUrl+task.avatar || '../images/avatar.png'}}" err-src="../images/avatar.png" alt="" class="circle icon">
                {{task.title}}
            </div>
            <div class="section bg-gray-lighter">
                <div class="row text-center">
                    <div class="col-xs-4 section-wide text-ellipsis">
                        <i class="kk kk-icon kk-translate" style="position:relative;top:-3px"></i>
                        {{task.from_language}}/{{task.to_language}}
                    </div>
                    <div class="col-xs-4 section-wide text-ellipsis">
                        <i class="kk kk-icon kk-location" style="position:relative;top:-3px"></i>
                        {{task.country}}，{{task.city}}
                    </div>
                    <div class="col-xs-4 section-wide text-ellipsis">
                        <i class="kk kk-icon kk-bag" style="position:relative;top:-3px"></i>
                        {{task.type}}
                    </div>
                </div>
                <div class="section section-wide bg-gray-lighter task_cost text-ellipsis">
                    {{task.currency_type}} {{task.price_for_day}}/天 (约{{task.to_currency_type}} {{task.to_price_for_day}}/天)
                </div>
                <div class="task_day section-wide bg-gray-lighter text-ellipsis">
                    {{task.start_time}}——{{task.end_time}}
                </div>
                <div class="task_detail section-wide bg-gray-lighter text-ellipsis">
                    详细要求：{{task.description}}
                </div>
            </div>
        </a>
        <div class="section text-center m" ng-click="loadMore()">{{page.message}}</div>
        <!-- hide content -->
        <div ng-include="'language.html'" ng-if="filter.name == 'language'"></div>
        <div ng-include="'location.html'" ng-if="filter.name == 'location'"></div>
        <div ng-include="'price.html'" ng-if="filter.name == 'price'"></div>
        <div ng-include="'category.html'" ng-if="filter.name == 'category'"></div>
    </div>
</div>
