<div class="filter-cover" ng-click="reset_filter()"></div>
<div class="language-content" style="top:{{offset_top}}">
    <div class="list-group">
        <a class="list-group-item" ng-repeat="language in languages track by $index" ng-click="toggle_language(language)" ng-class="{'list-group-item-warning':language.checked}">
            <span class="list-group-item-text">{{language.name}}</span>
        </a>
    </div>
</div>
<div class="language-footer">
    <div class="btn-group justified">
        <span class="btn bg-gray-lighter text-primary rectangle" ng-click="reset_language()">重置</span>
        <span class="btn btn-warning rectangle" ng-click="choose_language()">{{"Confirm" | translate}}</span>
    </div>
</div>