<div class="filter-cover" ng-click="reset_filter()"></div>
<div class="language-content" style="top:{{offset_top}}">
    <div class="list-group">
        <a class="list-group-item">
            <span class="list-group-item-text">阿拉伯文</span>
        </a>
        <a class="list-group-item">
            <span class="list-group-item-text">保加利亚文</span>
        </a>
        <a class="list-group-item">
            <span class="list-group-item-text">冰岛文</span>
        </a>
        <a class="list-group-item">
            <span class="list-group-item-text">丹麦文</span>
        </a>
        <a class="list-group-item list-group-item-warning">
            <span class="list-group-item-text">阿拉伯文</span>
        </a>
        <a class="list-group-item">
            <span class="list-group-item-text">保加利亚文</span>
        </a>
        <a class="list-group-item">
            <span class="list-group-item-text">冰岛文</span>
        </a>
        <a class="list-group-item">
            <span class="list-group-item-text">丹麦文</span>
        </a>
        <a class="list-group-item list-group-item-warning">
            <span class="list-group-item-text">阿拉伯文</span>
        </a>
        <a class="list-group-item">
            <span class="list-group-item-text">保加利亚文</span>
        </a>
        <a class="list-group-item">
            <span class="list-group-item-text">冰岛文</span>
        </a>
        <a class="list-group-item">
            <span class="list-group-item-text">丹麦文</span>
        </a>
    </div>
</div>
<div class="language-footer">
    <div class="btn-group justified">
        <span class="btn bg-gray-lighter text-primary rectangle">重置</span>
        <span class="btn btn-warning rectangle">确定</span>
    </div>
</div>