<div class="filter-cover" ng-click="reset_filter()"></div>
<div class="location" style="top:{{offset_top}}">
    <div class="country">
        <div ng-repeat="country in countrys">
            <div class="country-header">
                {{country.name}}
            </div>
            <div class="section section-condensed">
                <div class="row">
                    <label class="col-xs-4 btn btn-default rectangle" ng-class="{'btn-primary':choosen.city.name == city }" ng-repeat="city in country.city">
                        <input type="radio" class="hidden" ng-model="choosen.city" ng-value="{'name':city,'country':country.name}">{{city}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
