<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">个人中心</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="translator-cover" ng-click="go('/me_info')">
            <imageview data-rate="750/422" src="user.bg_image"></imageview>
            <div class="translator-info left">
                <span class="h3 block">{{user.nickname || user.telephone || user.email || '未填写'}}</span>
                <span class="block">已有{{user.foucus_count || "0"}}人关注TA</span>
            </div>
            <div class="translator-info right">
                <span class="block">{{user.profession || "暂无填写"}}</span>
                <span class="block">长居住地：香港</span>
            </div>
            <div class="translator-avatar">
                <img ng-src="{{user.avatar || '../images/avatar_1.png'}}" alt="">
            </div>
        </div>
        <!-- 擅长语种 -->
        <div class="list-group" style="margin:10px">
            <div class="list-group-header">
                <div class="section bg-transparent">
                    擅长语种
                </div>
            </div>
            <div class="list-group-item clearfix" ng-repeat="language in user.languages track by $index">
                <div class="pull-left">
                    {{language.from_language}}-{{language.to_language}}---{{language.level}}
                </div>
                <div class="pull-right">
                    <span class="btn btn-danger bg-white text-danger section section-condensed" ng-click="removeLanguage(language)">
                        删除
                    </span>
                </div>
            </div>
            <div class="list-group-item" ui-turn-on="single_picker" ui-show="!single_picker">
                <i class="fa fa-plus-circle text-primary"></i> 添加语言
            </div>
            <div class="picker" ui-state="single_picker" ui-show="single_picker" ui-outer-click="Ui.turnOff('single_picker')" ui-outer-click-if="Ui.active('single_picker')">
                <div class="picker-header">
                    <div class="btn-group justified text-primary">
                        <span class="btn">语言</span>
                        <span class="btn">语言程度</span>
                    </div>
                </div>
                <div class="picker-left picker-column">
                    <div class="list-group">
                        <label class="list-group-item block" ng-repeat="language in languages track by $index" ng-class="{'selected':input.choosen_language == language}">
                            {{ language.from_language +"-"+language.to_language }}
                            <input type="radio" class="hidden" ng-model="input.choosen_language" ng-value="language" />
                        </label>
                    </div>
                </div>
                <div class="picker-right picker-column">
                    <div class="list-group">
                        <label class="list-group-item block" ng-repeat="lng in languages_level track by $index" ng-class="{'selected':input.choosen_language_level == lng}">
                            {{ lng.level }}
                            <input type="radio" class="hidden" ng-model="input.choosen_language_level" ng-value="lng" />
                        </label>
                    </div>
                </div>
                <div class="picker-footer">
                    <span class="block text-center" ng-click="pickLanguage()" ui-turn-off="single_picker">确定</span>
                </div>
            </div>
        </div>
        <!-- 翻译类型 -->
        <div class="list-group" style="margin:10px">
            <div class="list-group-header">
                <div class="section bg-transparent">
                    翻译类型
                </div>
            </div>
            <div class="list-group-item clearfix" ng-repeat="translate_type in user.translate_types track by $index">
                <div class="pull-left">
                    <span class="text-small">{{translate_type.first_catalg_str}}</span>---{{translate_type.second_catalog_str}}
                </div>
                <div class="pull-right">
                    <span class="btn btn-danger bg-white text-danger section section-condensed" ng-click="removeTranslateType(translate_type)">
                        删除
                    </span>
                </div>
            </div>
            <div class="list-group-item" ui-turn-on="multiple_picker" ui-show="!multiple_picker">
                <i class="fa fa-plus-circle text-primary"></i> 添加类型
            </div>
            <div class="picker" ui-state="multiple_picker" ui-show="multiple_picker" ui-outer-click="Ui.turnOff('multiple_picker')" ui-outer-click-if="Ui.active('multiple_picker')">
                <div class="picker-header">
                    <div class="btn-group justified text-primary">
                        <span class="btn">翻译类型</span>
                        <span class="btn">擅长领域</span>
                    </div>
                </div>
                <div class="picker-left picker-column">
                    <div class="list-group">
                        <label class="list-group-item block" ng-repeat="translate_type in translate_types track by $index" ng-class="{'selected':input.choosen_translate_type.name == translate_type.first_catalog}">
                            {{ translate_type.first_catalog }}
                            <input type="radio" class="hidden" ng-model="input.choosen_translate_type" ng-value="{'name':translate_type.first_catalog,'index':$index}" />
                        </label>
                    </div>
                </div>
                <div class="picker-right picker-column">
                    <div class="list-group">
                        <label class="list-group-item block" ng-repeat="skill in translate_types[input.choosen_translate_type.index].second_catalogs track by $index" ng-class="{'selected':skill.selected}" ng-click="toggleSkill(skill)">
                            {{ skill.second_catalog }}
                        </label>
                    </div>
                </div>
                <div class="picker-footer">
                    <span class="block text-center" ng-click="pickTranslateType()" ui-turn-off="multiple_picker">确定</span>
                </div>
            </div>
        </div>
        <!-- 个人认证 -->
        <div class="list-group" style="margin:10px">
            <div class="list-group-header">
                <div class="section bg-transparent">
                    个人认证
                </div>
            </div>
            <a ng-href="#/authen_name" class="list-group-item clearfix">
                <div class="pull-left">
                    实名认证
                </div>
                <div class="pull-right">
                    <span class="list-group-item-text">上传身份证</span>
                    <i class="text-gray-light fa fa-chevron-right pull-right"></i>
                </div>
            </a>
            <a ng-href="#/authen_language" class="list-group-item clearfix">
                <div class="pull-left">
                    语言认证
                </div>
                <div class="pull-right">
                    <span class="list-group-item-text">上传语言考核证书</span>
                    <i class="text-gray-light fa fa-chevron-right pull-right"></i>
                </div>
            </a>
            <a ng-href="#/authen_industry" class="list-group-item clearfix">
                <div class="pull-left">
                    行业资格认证
                </div>
                <div class="pull-right">
                    <span class="list-group-item-text">上传行业相关证明</span>
                    <i class="text-gray-light fa fa-chevron-right pull-right"></i>
                </div>
            </a>
            <a ng-href="#/authen_member" class="list-group-item clearfix">
                <div class="pull-left">
                    高级会员认证
                </div>
                <div class="pull-right">
                    <span class="list-group-item-text">取得会员认证</span>
                    <i class="text-gray-light fa fa-chevron-right pull-right"></i>
                </div>
            </a>
        </div>
        <!-- 我的工作日 -->
        <div class="list-group" style="margin:10px">
            <div class="list-group-header">
                <div class="section bg-transparent">
                    我的工作日
                </div>
            </div>
            <div class="list-group-item clearfix">
                <div class="pull-left">
                    添加工作日(非工作日的邀请不会收到)
                </div>
                <div class="pull-right">
                    <i class="text-gray-light fa fa-chevron-right pull-right"></i>
                </div>
            </div>
        </div>
        <!-- 收费标准 -->
        <div class="list-group" style="margin:10px">
            <div class="list-group-header">
                <div class="section bg-transparent">
                    收费标准
                </div>
            </div>
            <div class="list-group-item clearfix" ng-click="edit({'pay_day':user.pay_day})">
                <div class="pull-left">
                    日薪{{user.pay_day}}
                </div>
                <div class="pull-right">
                    <i class="text-gray-light fa fa-chevron-right pull-right"></i>
                </div>
            </div>
        </div>
        <!-- 翻译经验 -->
        <div class="list-group" style="margin:10px">
            <div class="list-group-header">
                <div class="section bg-transparent">
                    翻译经验
                </div>
            </div>
            <div class="list-group-item clearfix" ng-repeat="translate_experience in user.translate_experiences track by $index">
                <div class="pull-left">
                    {{translate_experience.experience}}
                </div>
                <div class="pull-right" ng-click="removeTranslateExperience(translate_experience)">
                    <span class="btn btn-danger bg-white text-danger section section-condensed">
                        删除
                    </span>
                </div>
            </div>
            <div class="list-group-item" ui-turn-on="create_panel">
                <i class="fa fa-plus-circle text-primary"></i> 添加经验
            </div>
        </div>
        <!-- 个人简介 -->
        <div class="list-group" style="margin:10px">
            <div class="list-group-header">
                <div class="section bg-transparent">
                    个人介绍
                </div>
            </div>
            <div class="list-group-item clearfix" ng-click="edit({'introduction':user.introduction})">
                <div class="pull-left">
                    {{user.introduction}}
                </div>
                <div class="pull-right">
                    <i class="text-gray-light fa fa-chevron-right pull-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if="editable_panel" ui-state='editable_panel'>
        <!-- <div class="modal-backdrop in"></div> -->
        <form name="editForm" ng-submit="ajaxForm()" class="modal-dialog" style="margin:0">
            <div class="modal-content">
                <div class="modal-header text-primary clearfix">
                    <div class="pull-left section section-condensed bg-transparent" ui-turn-off="editable_panel">
                        <i class="fa fa-chevron-left" style="position:relative;top:3px"></i>
                    </div>
                    <h4 class="modal-title text-center">信息编辑</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" placeholder="请填写" ng-model="input.editable_content" name="edit" required ng-if="input.editable_key != 'pay_day'"></textarea>
                    <input class="form-control" type="number" placeholder="请填写" name="salary" ng-model="input.editable_content" required ng-if="input.editable_key == 'pay_day'">
                    <span class="text-primary" ng-show="editForm.salary.$invalid && editForm.salary.$dirty">必填,数字</span>
                </div>
                <div class="modal-footer">
                    <button ui-turn-off="editable_panel" class="btn btn-default">取消</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="editForm.edit.$invalid">保存</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal modal-overlay" ui-if="create_panel" ui-state='create_panel'>
        <!-- <div class="modal-backdrop in"></div> -->
        <form name="createForm" ng-submit="experienceForm()" class="modal-dialog" style="margin:0">
            <div class="modal-content">
                <div class="modal-header text-primary clearfix">
                    <div class="pull-left section section-condensed bg-transparent" ui-turn-off="create_panel">
                        <i class="fa fa-chevron-left" style="position:relative;top:3px"></i>
                    </div>
                    <h4 class="modal-title text-center">新增翻译经验</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" placeholder="请填写" name="experience" ng-model="input.experience" required></textarea>
                    
                </div>
                <div class="modal-footer">
                    <button ui-turn-off="create_panel" class="btn btn-default">取消</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="createForm.experience.$invalid">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
