<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"Edit Profile" | translate}}</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="sync_back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <form class="scrollable-content" name="editForm" ng-submit="ajaxForm()">
        <div class="translator-cover">
            <div flow-init="{singleFile:true}" ng-controller="coverController" class="translator-bg">
                <img flow-btn flow-attrs="{accept:'image/*'}" flow-img="$flow.files[0]" ng-src="{{staticImageUrl + user.bg_image || '../images/avatar_1.png'}}" alt="" class="needsclick">
            </div>
            <div flow-init="{singleFile:true}" ng-controller="avatarController" class="translator-avatar" >
                <img flow-btn flow-attrs="{accept:'image/*'}" flow-img="$flow.files[0]" ng-src="{{staticImageUrl + user.avatar || '../images/avatar_1.png'}}" alt="" class="needsclick block full-width">
            </div>
        </div>
        <div class="list-group" style="margin:10px">
            <div class="list-group-item clearfix kk-input-group">
                <span class="btn col-xs-3 section-wide text-left">{{"Nickname" | translate}}</span>
                <span class="col-xs-9 section-wide">
                    <input type="text" name="nickname" class="form-control youyi-flat-input col-xs-8" placeholder="请输入昵称" ng-model="user.nickname" required>
                <!-- <span class="tip text-warning">error</span> -->
                </span>
            </div>
            <div class="list-group-item clearfix kk-input-group">
                <span class="btn col-xs-3 section-wide text-left">{{"Real Name" | translate}}</span>
                <span class="col-xs-9 section-wide">
                    <input type="text" name="realname" class="form-control youyi-flat-input col-xs-8" placeholder="请输入真实姓名" ng-model="user.name" required>
                <!-- <span class="tip text-warning">error</span> -->
                </span>
            </div>
            <div class="list-group-item clearfix kk-input-group">
                <span class="btn col-xs-3 section-wide text-left">{{"Gender" | translate}}</span>
                <span class="col-xs-9 section-wide">
                    <i class="kk kk-icon kk-radio" ng-class="{'active':user.gender == '1'}"></i>
                    <label class="btn" style="min-width:60px">
                        <input type="radio" name="male" ng-model="user.gender"  value="1" class="hidden">{{"Male" | translate}}
                    </label>
                    <i class="kk kk-icon kk-radio" ng-class="{'active':user.gender == '2'}"></i>
                    <label class="btn" style="min-width:60px">
                        <input type="radio" name="female" ng-model="user.gender" value="2" class="hidden">{{"Female" | translate}}
                    </label>
                <!-- <span class="tip text-warning">error</span> -->
                </span>
            </div>
            <div class="list-group-item clearfix kk-input-group">
                <span class="btn col-xs-3 section-wide text-left">{{"Place" | translate}}</span>
                <span class="col-xs-9 section-wide">
                    <a class="btn block full-width text-left" ui-turn-on="district_panel">
                        <span>{{user.country +"  "+user.city}}</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
                </a>
                <!-- <span class="tip text-warning">error</span> -->
                </span>
            </div>
            <div class="list-group-item clearfix kk-input-group">
                <span class="btn col-xs-3 section-wide text-left">{{"Industry" | translate}}</span>
                <span class="col-xs-9 section-wide">
                    <input type="text" name="profession" class="form-control youyi-flat-input col-xs-8" placeholder="请输入行业" ng-model="user.profession" required>
                <!-- <span class="tip text-warning">error</span> -->
                </span>
            </div>
            <div class="list-group-item clearfix kk-input-group">
                <span class="btn col-xs-3 section-wide text-left">{{"Mobile No." | translate}}</span>
                <span class="col-xs-9 section-wide">
                    <!-- <input type="text" name="telephone" class="form-control youyi-flat-input col-xs-8" placeholder="请输入手机" ng-model="user.telephone"> -->
                <!-- <span class="tip text-warning">error</span> -->
                <span class="btn">{{user.telephone}}</span>
                </span>
            </div>
            <div class="list-group-item clearfix kk-input-group">
                <span class="btn col-xs-3 section-wide text-left">{{"Email" | translate}}</span>
                <span class="col-xs-9 section-wide">

                    <!-- <input type="email" name="email" class="form-control youyi-flat-input col-xs-8" placeholder="请输入邮箱" ng-model="user.email"> -->
                <!-- <span class="tip text-warning">error</span> -->
                <span class="btn">{{user.email}}</span>
                </span>
            </div>
        </div>
        <div class="text-center section large bg-transparent">
            <button type="submit" class="btn btn-success" ng-disabled="editForm.$invalid">{{"Save" | translate}}</button>
        </div>
    </form>
</div>
<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if="district_panel" ui-state='district_panel'>
        <!-- <div class="modal-backdrop in"></div> -->
        <div class="modal-dialog" style="margin:0">
            <div class="modal-content">
                <div class="modal-header text-primary clearfix">
                    <div class="pull-left section section-condensed bg-transparent" ui-turn-off="district_panel">
                        <i class="fa fa-chevron-left" style="position:relative;top:3px"></i>
                    </div>
                    <span class="pull-right" style="position:relative;top:3px" ng-click="choosen_city()">完成</span>
                    <h4 class="modal-title text-center">选择地区</h4>
                </div>
                <div class="modal-body" style="padding:0">
                    <div class="country">
                        <div ng-repeat="_country in countries track by $index">
                            <div class="country-header">
                                {{_country.country}}
                            </div>
                            <div class="section section-condensed">
                                <div class="row" ng-click="outerIndex($index)">
                                    <label class="col-xs-4 btn btn-default rectangle" ng-class="{'btn-primary':input.choosen_city == _city }" ng-repeat="_city in _country.cities track by $index">
                                        <input type="radio" class="hidden" ng-model="input.choosen_city" ng-value="_city">{{_city.city}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
