<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"Edit"|translate}}</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <form ng-submit="modifyPhoneOrEmail()" name="modifyForm">
            <div class="kk-input-group flat">
                <input type="text" name="username" class="form-control" placeholder="{{'Enter Your Mobile No. or Email' | translate}}" ng-model="input.username" required telephone-or-email>
                <!-- <span class="tip text-warning" ng-show="modifyForm.username.$invalid && modifyForm.username.$dirty">必填,手机或邮箱</span> -->
            </div>
            <div class="kk-input-group flat">
                <button type="button" class="btn btn-warning btn-sms" ng-click="getVerifycode()" ng-disabled="callbackTimer.counting || modifyForm.username.$invalid">
                    <timer id="kkcountdown" interval="1000" countdown="60" auto-start='false' ng-show="callbackTimer.counting" finish-callback="callbackTimer.finish()">{{countdown + 1}}</timer>
                    {{"Get Verification Code" | translate}}
                </button>
                <input type="text" name="verifycode" class="form-control" placeholder="{{'Enter Verification Code' | translate}}" ng-model="input.verifycode" required>
                <!-- <span class="tip text-warning" ng-show="modifyForm.verifycode.$invalid && modifyForm.verifycode.$dirty">必填，验证码为6位</span> -->
            </div>
            <div class="kk-input-group flat">
                <input type="password" name="password" class="form-control" placeholder="{{'Enter Old Password' | translate}}" ng-model="input.password" required ng-minlength=8 />
                <!-- <span class="tip text-warning" ng-show="modifyForm.password.$invalid && modifyForm.password.$dirty">必填,密码至少8位</span> -->
            </div>
            <div class="kk-input-group">
                <button type="submit" ng-disabled="modifyForm.$invalid" class="btn btn-warning block full-width">{{"Confirm" | translate}}</button>
            </div>
        </form>
    </div>
</div>
