<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">修改交易密码</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section large">
            <div class="text-center">
                <img ng-src="../images/logo_signin.png" alt="">
            </div>
            <form ng-submit="ajaxForm('signin')">
                <div class="kk-input-group flat">
                    <input type="text" name="tel_email" class="form-control" placeholder="请输入常用邮箱/手机号" ng-model="input.telephone" required ng-pattern="/(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/">
                    <span class="tip text-warning">error</span>
                </div>
                <div class="kk-input-group flat">
                    <button type="button" class="btn btn-warning btn-sms">获取验证码</button>
                    <input type="text" name="smscode" class="form-control" placeholder="请输入验证码" ng-model="input.smscode" required>
                    <span class="tip text-warning">error</span>
                </div>
                <div class="kk-input-group flat">
                    <input type="password" name="password" class="form-control" placeholder="重设密码，至少8位" ng-model="input.password" required>
                    <span class="tip text-warning">error</span>
                </div>
                <div class="kk-input-group">
                    <button type="submit" class="btn btn-warning block full-width">修改交易密码</button>
                </div>
            </form>
        </div>
    </div>
</div>
