<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">发布任务</div>
<div ui-content-for="navbarAction">
    <a ng-href="#/setting" class="btn sidebar-toggle">
        <i class="fa fa-cog text-large"></i>
    </a>
</div>
<div ui-content-for="backAction">
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-bars"></i>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <form ng-submit="ajaxForm()" name="releaseForm">
            <!-- step 1 -->
            <div ui-state="step" ui-default="step=1" ui-if="step == '1'">
                <div class="text-center" style="margin:50px auto 50px">
                    <img src="../images/step_1.png" alt="">
                </div>
                <div class="kk-select">
                    <select name="" id="" class="form-control block full-width rectangle text-primary" ng-model="choosen_language.from" ng-options="o as o.name for o in languages">
                    </select>
                </div>
                <div class="kk-select">
                    <select name="" id="" class="form-control block full-width rectangle text-primary" ng-model="choosen_language.to" ng-options="o as o.name for o in languages">
                    </select>
                </div>
                <div class="text-right section large bg-transparent" style="margin-top:150px">
                    <button type="button" class="btn btn-success" ui-set="{step:2}">下一步</button>
                </div>
            </div>
            <!-- step 2 -->
            <div ui-if="step == '2'">
                <div class="text-center" style="margin:50px auto 50px">
                    <img src="../images/step_2.png" alt="">
                </div>
                <div class="section large ">
                    <div class="semi-auto semi-left-40">
                        <div class="semi-fixed-left">
                            <span class="btn section-wide">
                                <i class="kk kk-30 kk-calendar"></i>
                            </span>
                        </div>
                        <!-- begin -->
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center semi-wide-80">
                                <span class="btn section-wide text-ellipsis">开始时间</span>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-xs-7 section-wide">
                                        <input type="date" class="youyi-date form-control col-xs-8" name="from_date" ng-model="input.from_date" required>
                                    </div>
                                    <div class="col-xs-5 section-wide">
                                        <input type="time" class="youyi-time form-control col-xs-4" name="from_time" ng-model="input.from_time" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end -->
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center semi-wide-80">
                                <span class="btn section-wide text-ellipsis">结束时间</span>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-xs-7 section-wide">
                                        <input type="date" class="youyi-date form-control col-xs-8" name="to_date" ng-model="input.to_date" required>
                                    </div>
                                    <div class="col-xs-5 section-wide">
                                        <input type="time" class="youyi-time form-control col-xs-4" name="to_time" ng-model="input.to_time" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kk-line kk-5 kk-horizon"></div>
                <div class="section large">
                    <div class="semi-auto semi-icon-bar">
                        <div class="semi-fixed-left semi-wide-40">
                            <div class="section section-wide">
                                标题<span class="text-danger">*</span>
                            </div>
                        </div>
                        <div>
                            <input type="text" class="form-control youyi-flat-input text-right" name="title" ng-model="input.title" required placeholder="请输入标题">
                        </div>
                        <div class="semi-fixed-right semi-wide-40">
                            <span class="btn"><i class="fa fa-chevron-right text-gray-light"></i></span>
                        </div>
                    </div>
                </div>
                <div class="kk-line kk-horizon"></div>
                <div class="section large">
                    <div class="semi-auto semi-left-40">
                        <div class="semi-fixed-left semi-wide-40">
                            <div class="section section-wide">
                                类型<span class="text-danger">*</span>
                            </div>
                        </div>
                        <div class="btn-group justified">
                            <label class="btn rectangle" ng-class="{'text-primary':input.category.name ==category.name,'bg-gray-lighter':input.category.name  != category.name}" ng-repeat="category in categories">
                                <input type="radio" class="hide" name="category" ng-model="input.category " ng-value="category">{{category.name}}</label>
                        </div>
                        <div class="section section-wide" ng-show="input.category.name  =='其它'">
                            <input type="text" class="form-control rectangle" name="other" ng-model="other">
                        </div>
                    </div>
                </div>
                <div class="kk-line kk-5 kk-horizon"></div>
                <div class="section large">
                    <div class="semi-auto semi-left-40">
                        <div class="semi-fixed-left semi-wide-40">
                            <div class="section section-wide">
                                价格<span class="text-danger">*</span>
                            </div>
                        </div>
                        <div class="semi-auto semi-icon-bar">
                            <span class="semi-fixed-left semi-wide-40 text-center">
                                <i class="kk kk-25 kk-checked" ng-class="{'active':input.price !=''}"></i>
                            </span>
                            <input type="number" class="form-control rectangle youyi-flat-input text-right" name="price" ng-model="input.price" placeholder="请填写" required>
                            <span class="semi-fixed-right semi-wide-40 text-center">
                                <span class="btn">/天</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kk-line kk-horizon"></div>
                <div class="section large" ui-turn-on="district_panel">
                    <div class="semi-auto semi-icon-bar">
                        <div class="semi-fixed-left semi-wide-40">
                            <div class="section section-wide">
                                地点<span class="text-danger">*</span>
                            </div>
                        </div>
                        <div class="section large text-right">
                            {{choosen.city.country+choosen.city.name}}
                        </div>

                        <div class="semi-fixed-right semi-wide-40">
                            <span class="btn"><i class="fa fa-chevron-right text-gray-light"></i></span>
                        </div>
                    </div>
                </div>
                <div class="kk-line kk-5 kk-horizon"></div>
                <div class="section large">
                    <div class="semi-auto semi-icon-bar">
                        <div class="semi-fixed-left">
                            <div class="section section-wide">
                                任务详情<span class="text-danger">*</span>
                            </div>
                        </div>
                        <div>
                            <input type="text" class="form-control youyi-flat-input text-right" name="content" ng-model="input.content" required placeholder="请填写">
                        </div>
                        <div class="semi-fixed-right semi-wide-40">
                            <span class="btn"><i class="fa fa-chevron-right text-gray-light"></i></span>
                        </div>
                    </div>
                </div>
                <div class="section large bg-transparent">
                    <button type="button" class="btn btn-default pull-left" ui-set="{step:1}">上一步</button>
                    <button type="button" class="btn btn-success pull-right" ng-disabled="releaseForm.$invalid || choosen.city.name ==''" ng-click="next({step:'3'})">下一步</button>
                </div>
            </div>
            <!-- step 3 -->
            <div ui-if="step == '3'">
                <div class="text-center" style="margin:50px auto 50px">
                    <img src="../images/step_3.png" alt="">
                </div>
                <div class="task-section">
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80" style="min-height:80px">
                            <div class="semi-fixed-left text-center">
                                <img ng-src="{{staticImageUrl + user.avatar || '../images/avatar.png'}}" width="70px" alt="">
                            </div>
                            <div style="padding-bottom:8px;">
                                {{input.title}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                语言：
                            </div>
                            <div style="padding-bottom:8px;">
                                {{choosen_language.from.name}}/{{choosen_language.to.name}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                日期：
                            </div>
                            <div style="padding-bottom:8px;">
                                <p>{{input.from_date | date:"yyyy-MM-dd"}}<span class="btn"></span>{{input.from_time | date:"HH:mm"}} 至</p>
                                {{input.to_date | date:"yyyy-MM-dd"}}<span class="btn"></span>{{input.to_time | date:"HH:mm"}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                类型：
                            </div>
                            <div style="padding-bottom:8px;">
                                {{input.category.name}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                价格：
                            </div>
                            <div style="padding-bottom:8px;">
                                {{input.price}}/天
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                地点：
                            </div>
                            <div style="padding-bottom:8px;">
                                {{choosen.city.country +","+choosen.city.name}}
                            </div>
                            <div class="kk-line kk-horizon bg-gray-lighter"></div>
                        </div>
                    </div>
                    <div class="section large" style="padding-bottom:0">
                        <div class="semi-auto semi-left-80">
                            <div class="semi-fixed-left text-center">
                                任务详情：
                            </div>
                            <div style="padding-bottom:8px;">
                                {{input.content}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section large bg-transparent">
                    <button type="button" class="btn btn-default pull-left" ui-set="{step:2}">上一步</button>
                    <button type="submit" class="btn btn-warning pull-right">确认提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if="district_panel" ui-state='district_panel'>
        <!-- <div class="modal-backdrop in"></div> -->
        <div class="modal-dialog" style="margin:0">
            <div class="modal-content">
                <div class="modal-header text-primary clearfix">
                    <div class="pull-left section section-condensed bg-transparent" ui-turn-off="district_panel">
                        <i class="fa fa-chevron-left" style="position:relative;top:3px"></i>
                    </div>
                    <span class="pull-right" style="position:relative;top:3px" ui-turn-off="district_panel">完成</span>
                    <h4 class="modal-title text-center">选择地区</h4>
                </div>
                <div class="modal-body" style="padding:0">
                    <div class="country">
                        <div ng-repeat="country in countries track by $index">
                            <div class="country-header">
                                {{country.country}}
                            </div>
                            <div class="section section-condensed">
                                <div class="row">
                                    <label class="col-xs-4 btn btn-default rectangle" ng-class="{'btn-primary':choosen.city.name == city.city }" ng-repeat="city in country.cities">
                                        <input type="radio" class="hidden" ng-model="choosen.city" ng-value="{'name':city.city,'country':country.country,'group_id':city.group_id}">{{city.city}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="modal" ui-if="modal2" ui-state='modal2'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <p>恭喜您，发布任务成功！</p>
                </div>
                <div class="modal-footer text-center">
                    <button ui-turn-off="modal2" class="btn btn-primary">查看推荐人</button>
                    <button class="btn btn-default" ng-click="close()">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
