<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">
    <span class="search-input">
        <input type="text" class="form-control full-width" ng-model="page.kw" placeholder="{{'Enter Search Keywords, Language/Place/Price/Type' | translate}}">
    </span>
</div>
<div ui-content-for="navbarAction">
    <a class="btn" ng-click="search()">
        <i class="fa fa-search text-large"></i>
    </a>
</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()">
        <i class="fa fa-chevron-left"></i>
    </span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <!-- normal content -->
        <a ng-href="#/translators/{{translator.user_id}}" class="translator" ng-repeat="translator in translators track by $index">
            <imageview data-rate="750/422" src="staticImageUrl+translator.bg_image"></imageview>
            <span class="translator-intro">
                <span class="h3 block">
                <i class="kk kk-icon" ng-class="{'kk-male':translator.gender=='1','kk-female':translator.gender !='1'}"></i>
                {{translator.nickname}}
                </span>
            <span class="block">{{translator.return_language}}</span>
            <span class="block">{{"Place" | translate}}：{{translator.address}}</span>
            <span class="block text-ellipsis">{{translator.introduction}}</span>
            </span>
        </a>
        <div class="section text-center m" ng-click="loadMore()" ng-show="translators.length > 0">{{page.message}}</div>
        <div class="section text-center m" ng-click="loadMore()" ng-show="translators.length == 0">{{"Try Another" | translate}}</div>
    </div>
</div>
