<div class="scrollable" ng-show="sidebar.current=='entrance'">
    <div class="scrollable-content">
        <div class="text-center">
            <img ng-src="../images/logo_signin.png" alt="">
        </div>
        <div class="section large" ng-click="show('signin')">
            <a class="btn btn-warning block full-width">{{"Existing User, Login" | translate}}</a>
        </div>
        <div class="section large" ng-click="show('signup')">
            <a class="btn btn-warning block full-width bg-white text-primary">{{"Register with Mobile No." | translate}}</a>
        </div>
        <div class="section large" ng-click="show('signup_email')">
            <a class="btn btn-warning block full-width bg-white text-primary">{{"Register with Email" | translate}}</a>
        </div>
        <div class="section large text-right">
            <a class="text-gray" ng-click="show('forget')">{{"Forgot Password" | translate}}</a>
        </div>
        <div class="section text-center" style="margin:50px auto 20px">
            --------{{"Or Login with Other Accounts" | translate}}--------
        </div>
        <div class="btn-group justified">
            <a class="btn" ng-click="weiboLogin()">
                <i class="kk kk-50 kk-weibo"></i>
                <span class="block text-gray">{{"Weibo" | translate}}</span>
            </a>
            <!-- ng-href="{{weixinOauthUrl}}" -->
            <a class="btn" ng-click="weixinLogin()">
                <i class="kk kk-50 kk-weixin"></i>
                <span class="block text-gray">{{"WeChat" | translate}}</span>
            </a>
            <a class="btn" ng-click="facebookLogin()">
                <i class="kk kk-50 kk-facebook"></i>
                <span class="block text-gray">{{"Facebook" | translate}}</span>
            </a>
        </div>
        <div class="toast" ui-if="toast_state">
            <span class="loader"></span>
        </div>
    </div>
</div>
<!-- signin section -->
<div class="scrollable" ng-show="sidebar.current=='signin'">
    <div class="scrollable-content">
        <div ng-click="prev()" class="section text-primary large" style="position:absolute;top:6px"><i class="fa fa-chevron-left"></i>{{"Back"|translate}}</div>
        <div class="text-center">
            <img ng-src="../images/logo_signin.png" alt="">
        </div>
        <form ng-submit="ajaxForm('signin')" name="signinForm">
            <div class="kk-input-group flat">
                <input type="text" name="username" class="form-control" placeholder="{{'Enter Your Mobile No. or Email' | translate}}" ng-model="input.username" required>
                <!-- <span class="tip text-warning" ng-show="signinForm.username.$invalid && signinForm.username.$dirty">必填,手机或邮箱</span> -->
            </div>
            <div class="kk-input-group flat">
                <input type="password" name="password" class="form-control" placeholder="{{'Enter Your Password' | translate}}" ng-model="input.password" required />
                <!-- <span class="tip text-warning" ng-show="signinForm.password.$invalid && signinForm.password.$dirty">必填,密码至少8位</span> -->
                <span class="tip text-warning" ng-show="sidebar.error.show">{{sidebar.error.message}}</span>
            </div>
            <div class="kk-input-group">
                <button type="submit" class="btn btn-warning block full-width" ng-disabled="signinForm.$invalid">{{"Login" | translate}}<i class="fa fa-refresh" ng-show="loading"></i></button>
            </div>
        </form>
        <div class="toast" ui-if="toast_state">
            <span class="loader"></span>
        </div>
    </div>
</div>
<!-- signup section -->
<div class="scrollable" ng-show="sidebar.current=='signup'">
    <div class="scrollable-content">
        <div ng-click="prev()" class="section text-primary large" style="position:absolute;top:6px"><i class="fa fa-chevron-left"></i>{{"Back"|translate}}</div>
        <div class="text-center">
            <img ng-src="../images/logo_signin.png" alt="">
        </div>
        <div class="section large">
            <div class="pull-left">{{"Country or Region Code" | translate}}</div>
            <div class="pull-right text-primary">中国</div>
        </div>
        <form ng-submit="ajaxForm('signup_by_tel')" name="signupForm">
            <div class="kk-input-group flat has-addon">
                <span class="addon btn">+86</span>
                <input type="text" name="telephone" class="form-control" placeholder="{{'Enter Mobile No.' | translate}}" ng-model="input.telephone" required ng-pattern="/(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/">
                <!-- <span class="tip text-warning" ng-show="signupForm.telephone.$invalid && signupForm.telephone.$dirty">必填,手机号为11位</span> -->
            </div>
            <div class="kk-input-group flat">
                <button type="button" class="btn btn-warning btn-sms" ng-click="getSmscode()" ng-disabled="callbackTimer.counting || signupForm.telephone.$invalid" ng-if="sidebar.current=='signup'">
                    <timer id="kkcountdown" interval="1000" countdown="60" auto-start='false' ng-show="callbackTimer.counting" finish-callback="callbackTimer.finish()">{{countdown + 1}}</timer>
                    {{"Get Verification Code" | translate}}
                </button>
                <input type="text" name="sms_code" class="form-control" placeholder="{{'Enter Verification Code' | translate}}" ng-model="input.sms_code" required>
                <!-- <span class="tip text-warning" ng-show="signupForm.sms_code.$invalid && signupForm.sms_code.$dirty">必填，验证码为6位</span> -->
            </div>
            <div class="kk-input-group flat">
                <input type="password" name="password" class="form-control" placeholder="{{'Set Password: at Least 6 Characters' | translate}}" ng-model="input.password" required>
                <!-- <span class="tip text-warning" ng-show="signupForm.password.$invalid && signupForm.password.$dirty">必填,密码至少8位</span> -->
                <span class="tip text-warning" ng-show="sidebar.error.show">{{sidebar.error.message}}</span>
            </div>
            <div class="section text-center text-warning" ng-click="show('agreement')">{{"Read Privacy" | translate}}</div>
            <div class="kk-input-group">
                <button type="submit" class="btn btn-warning block full-width" ng-disabled="signupForm.$invalid">{{"Agree and Register" | translate}}</button>
            </div>
        </form>
        <div class="toast" ui-if="toast_state">
            <span class="loader"></span>
        </div>
    </div>
</div>
<!-- signup email section -->
<div class="scrollable" ng-show="sidebar.current=='signup_email'">
    <div class="scrollable-content">
        <div ng-click="prev()" class="section text-primary large" style="position:absolute;top:6px"><i class="fa fa-chevron-left"></i>{{"Back"|translate}}</div>
        <div class="text-center">
            <img ng-src="../images/logo_signin.png" alt="">
        </div>
        <form ng-submit="ajaxForm('signup_by_email')" name="signupEmailForm">
            <div class="kk-input-group flat">
                <input type="email" name="email" class="form-control" placeholder="{{'Enter Email Address' | translate}}" ng-model="input.email" required>
                <!-- <span class="tip text-warning" ng-show="signupEmailForm.email.$invalid && signupEmailForm.email.$dirty">必填,邮箱格式xx@xx</span> -->
            </div>
            <div class="kk-input-group flat">
                <button type="button" class="btn btn-warning btn-sms" ng-click="getEmailcode()" ng-disabled="callbackTimer.counting || signupEmailForm.email.$invalid" ng-if="sidebar.current=='signup_email'">
                    <timer id="kkcountdown" interval="1000" countdown="60" auto-start='false' ng-show="callbackTimer.counting" finish-callback="callbackTimer.finish()">{{countdown + 1}}</timer>
                    {{"Get Verification Code" | translate}}
                </button>
                <input type="text" name="email_code" class="form-control" placeholder="{{'Enter Verification Code' | translate}}" ng-model="input.email_code" required>
                <!-- <span class="tip text-warning" ng-show="signupEmailForm.email_code.$invalid && signupEmailForm.email_code.$dirty">必填，验证码为6位</span> -->
            </div>
            <div class="kk-input-group flat">
                <input type="password" name="password" class="form-control" placeholder="{{'Set Password: at Least 6 Characters' | translate}}" ng-model="input.password" required>
                <!-- <span class="tip text-warning" ng-show="signupEmailForm.password.$invalid && signupEmailForm.password.$dirty">必填,密码至少8位</span> -->
                <span class="tip text-warning" ng-show="sidebar.error.show">{{sidebar.error.message}}</span>
            </div>
            <div class="section text-center text-warning" ng-click="show('agreement')">{{"Read Privacy" | translate}}</div>
            <div class="kk-input-group">
                <button type="submit" class="btn btn-warning block full-width" ng-disabled="signupEmailForm.$invalid">{{"Agree and Register" | translate}}</button>
            </div>
        </form>
        <div class="toast" ui-if="toast_state">
            <span class="loader"></span>
        </div>
    </div>
</div>
<!-- forget password -->
<div class="scrollable" ng-show="sidebar.current=='forget'">
    <div class="scrollable-content">
        <div ng-click="prev()" class="section text-primary large" style="position:absolute;top:6px"><i class="fa fa-chevron-left"></i>{{"Back"|translate}}</div>
        <div class="text-center">
            <img ng-src="../images/logo_signin.png" alt="">
        </div>
        <form ng-submit="ajaxForm('forget')" name="forgetForm">
            <div class="kk-input-group flat">
                <input type="text" name="tel_email" class="form-control" placeholder="{{'Enter Your Mobile No. or Email' | translate}}" ng-model="input.telephone" required telephone-or-email>
                <!-- <span class="tip text-warning" ng-show="forgetForm.tel_email.$invalid && forgetForm.tel_email.$dirty">必填,手机或者邮箱</span> -->
            </div>
            <div class="kk-input-group flat">
                <button type="button" class="btn btn-warning btn-sms" ng-click="getVerifycode()" ng-disabled="callbackTimer.counting || forgetForm.tel_email.$invalid" ng-if="sidebar.current=='forget'">
                    <timer id="kkcountdown" interval="1000" countdown="60" auto-start='false' ng-show="callbackTimer.counting" finish-callback="callbackTimer.finish()">{{countdown + 1}}</timer>
                    {{"Get Verification Code" | translate}}
                </button>
                <input type="text" name="verifycode" class="form-control" placeholder="{{'Enter Verification Code' | translate}}" ng-model="input.verifycode" required>
                <!-- <span class="tip text-warning" ng-show="forgetForm.verifycode.$invalid && forgetForm.verifycode.$dirty">必填,验证码6位</span> -->
            </div>
            <div class="kk-input-group flat">
                <input type="password" name="password" class="form-control" placeholder="{{'Set Password: at Least 6 Characters' | translate}}" ng-model="input.password" required>
                <!-- <span class="tip text-warning" ng-show="forgetForm.password.$invalid && forgetForm.password.$dirty">必填,密码至少8位</span> -->
                <span class="tip text-warning" ng-show="sidebar.error.show">{{sidebar.error.message}}</span>
            </div>
            <div class="kk-input-group">
                <button type="submit" class="btn btn-warning block full-width" ng-disabled="forgetForm.$invalid">{{"Forgot Password"|translate}}</button>
            </div>
        </form>
        <div class="toast" ui-if="toast_state">
            <span class="loader"></span>
        </div>
    </div>
</div>
<div class="scrollable" ng-show="sidebar.current == 'login'">
    <div class="scrollable-header bg-gray-lighter text-center">
        <div class="avatar avatar-large">
            <img ng-src="{{ staticImageUrl + user.avatar || '../images/avatar_1.png'}}" err-src="../images/avatar_1.png" alt="">
        </div>
        <a ng-href="#/me_info" class="block text-large text-gray">{{user.name || user.nickname || user.telephone || user.email }}<i class="kk kk-icon kk-edit" style="position:relative;top:-3px"></i></a>
        <div>{{user.return_language}}</div>
        <p></p>
    </div>
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" ng-click="to('release_task')">
                <i class="kk kk-icon kk-sidebar-1 pull-left"></i>
                <span class="list-group-item-text">{{"Create Task" | translate}}</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" ng-click="to('tasks')">
                <i class="kk kk-icon kk-sidebar-2 pull-left"></i>
                <span class="list-group-item-text">{{"Task List" | translate}}</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" ng-click="to('me')">
                <i class="kk kk-icon kk-sidebar-3 pull-left"></i>
                <span class="list-group-item-text" ng-if="user.is_translate !=1">{{"Rent Your Talent" | translate}}</span>
                <span class="list-group-item-text" ng-if="user.is_translate ==1">{{"Modify Profile" | translate}}</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" ng-click="to('favorite')">
                <i class="kk kk-icon kk-sidebar-4 pull-left"></i>
                <span class="list-group-item-text">{{"My Followings" | translate}}</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" ng-click="to('wallet')">
                <i class="kk kk-icon kk-sidebar-5 pull-left"></i>
                <span class="list-group-item-text">{{"My Wallet" | translate}}</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
            <!-- <a class="list-group-item" ng-click="to('messages')">
                <i class="kk kk-icon kk-sidebar-6 pull-left"></i>
                <span class="list-group-item-text">我的消息</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
                <span class="badge">14</span>
            </a> -->
        </div>
    </div>
    <div class="scrollable-footer">
        <div class="section large bg-gray-lighter text-center" ng-show="sidebar.share.socialshare">
            <div class="btn-group justified">
                <a class="btn" ng-href="{{sidebar.share.sina}}">
                    <i class="kk kk-50 kk-weibo"></i>
                    <span class="block text-gray">{{"Weibo" | translate}}</span>
                </a>
                <a class="btn" ng-click="weixinShare()">
                    <i class="kk kk-50 kk-weixin"></i>
                    <span class="block text-gray">{{"WeChat" | translate}}</span>
                </a>
                <a class="btn" ng-click="facebookShare()">
                    <i class="kk kk-50 kk-facebook"></i>
                    <span class="block text-gray">{{"Facebook" | translate}}</span>
                </a>
            </div>
        </div>
        <div class="section text-right">
            <a class="btn btn-warning" ng-click="share()">{{"Share the App" | translate}}</a>
        </div>
    </div>
</div>
<!-- agreement -->
<div class="scrollable" ng-show="sidebar.current=='agreement'">
    <div class="scrollable-content">
        <div class="section" ng-include="'_privacy.html'" style="padding:20px 15px 0">
        </div>
    </div>
    <div class="scrollable-footer">
        <div class="section text-center">
            <button class="btn btn-primary full-width" ng-click="prev()">{{"Agree and Register" | translate}}</button>
        </div>
    </div>
</div>
<div class="sidebar-cover" ng-if="sidebar.share.weixin" ng-click="weixinShare()">
    <div class="kk kk-weixin-share-tip"></div>
</div>
