<div class="scrollable" ng-show="sidebar.current=='entrance'">
    <div class="scrollable-content">
        <div class="text-center">
            <img ng-src="../images/logo_signin.png" alt="">
        </div>
        <div class="section large" ng-click="show('signin')">
            <a class="btn btn-warning block full-width">已有账号，马上登录</a>
        </div>
        <div class="section large" ng-click="show('signup')">
            <a class="btn btn-warning block full-width bg-white text-primary">通过手机号注册</a>
        </div>
        <div class="section large" ng-click="show('signup_email')">
            <a class="btn btn-warning block full-width bg-white text-primary">通过邮箱注册</a>
        </div>
        <div class="section large text-right">
            <a class="text-gray" ng-click="show('forget')">忘记密码</a>
        </div>
        <div class="section text-center" style="margin:50px auto 20px">
            --------或通过以下方式登录--------
        </div>
        <div class="btn-group justified">
            <a class="btn">
                <i class="kk kk-50 kk-weibo"></i>
                <span class="block text-gray">微博登录</span>
            </a>
            <a class="btn">
                <i class="kk kk-50 kk-weixin"></i>
                <span class="block text-gray">微信登录</span>
            </a>
            <a class="btn">
                <i class="kk kk-50 kk-facebook"></i>
                <span class="block text-gray">Facebook</span>
            </a>
        </div>
    </div>
</div>
<!-- signin section -->
<div class="scrollable" ng-show="sidebar.current=='signin'">
    <div class="scrollable-content">
        <div ng-click="prev()" ng-show="sidebar.last != ''" class="section text-primary" style="position:absolute;"><i class="fa fa-chevron-left"></i></div>
        <div class="text-center">
            <img ng-src="../images/logo_signin.png" alt="">
        </div>
        <form ng-submit="ajaxForm('signin')">
            <div class="kk-input-group flat">
                <input type="text" name="telephone" class="form-control" placeholder="请输入手机号码" ng-model="input.telephone" required ng-pattern="/(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/">
                <span class="tip text-warning">error</span>
            </div>
            <div class="kk-input-group flat">
                <input type="password" name="password" class="form-control" placeholder="请输入登录密码" ng-model="input.password" required />
                <span class="tip text-warning">error</span>
            </div>
            <div class="kk-input-group">
                <button type="submit" class="btn btn-warning block full-width">马上登录</button>
            </div>
        </form>
    </div>
</div>
<!-- signup section -->
<div class="scrollable" ng-show="sidebar.current=='signup'">
    <div class="scrollable-content">
        <div ng-click="prev()" ng-show="sidebar.last != ''" class="section text-primary" style="position:absolute;"><i class="fa fa-chevron-left"></i></div>
        <div class="text-center">
            <img ng-src="../images/logo_signin.png" alt="">
        </div>
        <div class="section large">
            <div class="pull-left">国家和地区</div>
            <div class="pull-right text-primary">中国</div>
        </div>
        <form ng-submit="ajaxForm('signin')">
            <div class="kk-input-group flat has-addon">
                <span class="addon btn">+86</span>
                <input type="text" name="telephone" class="form-control" placeholder="请输入手机号码" ng-model="input.telephone" required ng-pattern="/(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/">
                <span class="tip text-warning">error</span>
            </div>
            <div class="kk-input-group flat">
                <button type="button" class="btn btn-warning btn-sms">获取验证码</button>
                <input type="text" name="smscode" class="form-control" placeholder="请输入验证码" ng-model="input.smscode" required>
                <span class="tip text-warning">error</span>
            </div>
            <div class="kk-input-group flat">
                <input type="password" name="password" class="form-control" placeholder="设置密码，至少8位" ng-model="input.password" required>
                <span class="tip text-warning">error</span>
            </div>
            <div class="kk-input-group">
                <button type="submit" class="btn btn-warning block full-width">注册</button>
            </div>
        </form>
    </div>
</div>
<!-- signup email section -->
<div class="scrollable" ng-show="sidebar.current=='signup_email'">
    <div class="scrollable-content">
        <div ng-click="prev()" ng-show="sidebar.last != ''" class="section text-primary" style="position:absolute;"><i class="fa fa-chevron-left"></i></div>
        <div class="text-center">
            <img ng-src="../images/logo_signin.png" alt="">
        </div>
        <form ng-submit="ajaxForm('signin')">
            <div class="kk-input-group flat">
                <input type="email" name="telephone" class="form-control" placeholder="请输入常用邮箱" ng-model="input.telephone" required ng-pattern="/(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/">
                <span class="tip text-warning">error</span>
            </div>
            <div class="kk-input-group flat">
                <button type="button" class="btn btn-warning btn-sms">获取验证码</button>
                <input type="text" name="smscode" class="form-control" placeholder="请输入验证码" ng-model="input.smscode" required>
                <span class="tip text-warning">error</span>
            </div>
            <div class="kk-input-group flat">
                <input type="password" name="password" class="form-control" placeholder="设置密码，至少8位" ng-model="input.password" required>
                <span class="tip text-warning">error</span>
            </div>
            <div class="kk-input-group">
                <button type="submit" class="btn btn-warning block full-width">注册</button>
            </div>
        </form>
    </div>
</div>
<!-- forget password -->
<div class="scrollable" ng-show="sidebar.current=='forget'">
    <div class="scrollable-content">
        <div ng-click="prev()" ng-show="sidebar.last != ''" class="section text-primary" style="position:absolute;"><i class="fa fa-chevron-left"></i></div>
        <div class="text-center">
            <img ng-src="../images/logo_signin.png" alt="">
        </div>
        <form ng-submit="ajaxForm('signin')">
            <div class="kk-input-group flat">
                <input type="text" name="tel_email" class="form-control" placeholder="请输入常用邮箱/手机号" ng-model="input.telephone" required ng-pattern="/(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/">
                <span class="tip text-warning">error</span>
            </div>
            <div class="kk-input-group flat">
                <button type="button" class="btn btn-warning btn-sms">获取验证码</button>
                <input type="text" name="smscode" class="form-control" placeholder="请输入验证码" ng-model="input.smscode" required>
                <span class="tip text-warning">error</span>
            </div>
            <div class="kk-input-group flat">
                <input type="password" name="password" class="form-control" placeholder="重设密码，至少8位" ng-model="input.password" required>
                <span class="tip text-warning">error</span>
            </div>
            <div class="kk-input-group">
                <button type="submit" class="btn btn-warning block full-width">注册</button>
            </div>
        </form>
    </div>
</div>
<div class="scrollable" ng-show="sidebar.current == 'login'">
    <div class="scrollable-header bg-gray-lighter text-center">
        <div class="avatar avatar-large">
            <img ng-src="../images/avatar_1.png" alt="">
        </div>
        <a ng-href="#/me_info" class="block text-large text-gray">姚逢临<i class="kk kk-icon kk-edit" style="position:relative;top:-3px"></i></a>
        <div>英文/中文/西班牙语/广东话</div>
        <p></p>
    </div>
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/release_task">
                <i class="kk kk-icon kk-sidebar-1 pull-left"></i>
                <span class="list-group-item-text">发布任务</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" href="#/tasks">
                <i class="kk kk-icon kk-sidebar-2 pull-left"></i>
                <span class="list-group-item-text">任务清单</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" href="#/me">
                <i class="kk kk-icon kk-sidebar-3 pull-left"></i>
                <span class="list-group-item-text">成为翻译</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" href="#/favorite">
                <i class="kk kk-icon kk-sidebar-4 pull-left"></i>
                <span class="list-group-item-text">我的收藏</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" href="#/wallet">
                <i class="kk kk-icon kk-sidebar-5 pull-left"></i>
                <span class="list-group-item-text">我的钱包</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" href="#/messages">
                <i class="kk kk-icon kk-sidebar-6 pull-left"></i>
                <span class="list-group-item-text">我的消息</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
                <span class="badge">14</span>
            </a>
        </div>
    </div>
    <div class="scrollable-footer">
        <div class="section large bg-gray-lighter text-center" ng-show="sidebar.share.socialshare">
            <div class="btn-group justified">
                <a class="btn" ng-href="{{sidebar.share.sina}}">
                    <i class="kk kk-50 kk-weibo"></i>
                    <span class="block text-gray">微博</span>
                </a>
                <a class="btn" ng-click="share_weixin()">
                    <i class="kk kk-50 kk-weixin"></i>
                    <span class="block text-gray">微信</span>
                </a>
                <a class="btn" ng-href="{{sidebar.share.facebook}}">
                    <i class="kk kk-50 kk-facebook"></i>
                    <span class="block text-gray">Facebook</span>
                </a>
            </div>
        </div>
        <div class="section text-right">
            <a class="btn btn-warning" ng-click="share()">分享我们</a>
        </div>
    </div>
</div>
<div class="sidebar-cover" ng-class="{'show':sidebar.share.weixin}" ng-click="share_weixin()">
    <div class="kk kk-weixin-share-tip"></div>
</div>
