<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">任务清单</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-bars"></i>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-header">
        <div class="btn-group justified">
            <label class="btn rectangle" ng-class="{'text-primary':tab.category=='release','bg-gray-lighter':tab.category != 'release'}">
                <input type="radio" class="hide" ng-model="tab.category" name="category" value="release">热门国家</label>
            <label class="btn rectangle" ng-class="{'text-primary':tab.category =='accept','bg-gray-lighter':tab.category !='accept'}">
                <input type="radio" class="hide" ng-model="tab.category" name="category" value="accept">其他国家</label>
        </div>
    </div>
    <div class="scrollable-content">
        任务清单
    </div>
</div>
