<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">任务详情</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()">
		<i class="fa fa-chevron-left"></i>
	</span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		<div class="task-section">
			<div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80" style="min-height:80px">
					<div class="semi-fixed-left text-center">
						<img src="../images/avatar.png" width="70px" alt=""> 
					</div>
					<div style="padding-bottom:8px;">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eaque repellendus harum maxime nulla reprehenderit quibusdam. Doloribus provident explicabo culpa nihil, repellendus iure saepe nisi quisquam dolorum, velit quod officiis!
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
            <div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						语言：
					</div>
					<div style="padding-bottom:8px;">
						中文/英文 
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
            <div class="section">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						日期：
					</div>
					<div style="padding-bottom:8px;">
						<p>2015-06-21 12:00 至</p>
						2015-06-23 18:00 
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
            <div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						类型：
					</div>
					<div style="padding-bottom:8px;">
						商务 
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
            <div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						价格：
					</div>
					<div style="padding-bottom:8px;">
						400/天 或 100/小时 
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
           	<div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						地点：
					</div>
					<div style="padding-bottom:8px;">
						日本，东京
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
            <div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						任务详情：
					</div>
					<div style="padding-bottom:8px;">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloremque repellendus laboriosam blanditiis in sit, non, dignissimos natus! Aut laboriosam a nihil quaerat recusandae illo odit eos saepe quibusdam voluptatibus! 
					</div>
				</div>
            </div>
		</div>
	</div>
	<div class="scrollable-footer">
		<div class="kk-line kk-horizon bg-gray-lighter"></div>
		<div class="section text-right">
			<a ng-href="" class="btn btn-success">发送申请</a>
		</div>
	</div>
</div>