<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">任务详情</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()">
		<i class="fa fa-chevron-left"></i>
	</span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		<div class="task-section">
			<div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80" style="min-height:80px">
					<div class="semi-fixed-left text-center">
						<img ng-src="{{staticImageUrl+ task.avatar || '../images/avatar.png'}}" err-src="../images/avatar.png" class="circle icon-70" alt=""> 
					</div>
					<div style="padding-bottom:8px;">
						{{task.title}}
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
            <div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						语言：
					</div>
					<div style="padding-bottom:8px;">
						{{task.language}}
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
            <div class="section">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						日期：
					</div>
					<div style="padding-bottom:8px;">
						<p>{{task.start_time}} 至</p>
						{{task.end_time}}
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
            <div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						类型：
					</div>
					<div style="padding-bottom:8px;">
						{{task.type}} 
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
            <div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						价格：
					</div>
					<div style="padding-bottom:8px;">
						{{task.currency_type +" "+ task.price_for_day}}/天 (约{{task.to_price_for_day}}/天)
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
            <div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						总价格：
					</div>
					<div style="padding-bottom:8px;">
						{{task.currency_type +" "+ task.total_money}} (约{{task.to_total_money}} )
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
           	<div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						地点：
					</div>
					<div style="padding-bottom:8px;">
						{{task.address}}
					</div>
					<div class="kk-line kk-horizon bg-gray-lighter"></div>
				</div>
            </div>
            <div class="section" style="padding-bottom:0">
				<div class="semi-auto semi-left-80">
					<div class="semi-fixed-left text-center">
						任务详情：
					</div>
					<div style="padding-bottom:8px;">
						{{task.description}}
					</div>
				</div>
            </div>
		</div>
	</div>
	<div class="scrollable-footer">
		<div class="kk-line kk-horizon bg-gray-lighter"></div>
		<div class="section text-right">
			<a class="btn btn-success" ng-click="apply()">发送申请</a>
		</div>
	</div>
</div>