<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"Task List" | translate}}</div>
<div ui-content-for="navbarAction">
    <a ng-href="#/setting" class="btn sidebar-toggle" ng-if="user.user_id">
        <i class="fa fa-cog text-large"></i>
    </a>
</div>
<div ui-content-for="backAction">
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-bars text-large"></i>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-header">
        <div class="btn-group justified">
            <label class="btn rectangle bg-gray-lighter" ng-class="{'text-primary':task_tab.name =='release','bg-white':task_tab.name  == 'release'}">
                <input type="radio" class="hide" ng-model="task_tab.name " value="release">{{"Task Created" | translate}}</label>
            <label class="btn rectangle bg-gray-lighter" ng-class="{'text-primary':task_tab.name  =='accept','bg-white':task_tab.name  =='accept'}">
                <input type="radio" class="hide" ng-model="task_tab.name " value="accept">{{"Task Received" | translate}}</label>
        </div>
    </div>
    <div class="scrollable-content">
        <div class="btn task-section text-left section section-wide section-condensed" ng-repeat="task in tasks">
            <div class="section">
                <div class="semi-auto semi-right-80">
                    <div class="text-ellipsis">
                        <img ng-src="{{staticImageUrl+task.avatar || '../images/avatar.png'}}" err-src="../images/avatar_1.png" class="circle icon" alt=""> {{task.title}}
                    </div>
                    <div class="semi-fixed-right semi-wide-80 text-right" ng-click="action(task)">
                        <div class="btn-group">
                            <a>
                                <span class="">{{task.status_message}}</span>
                            </a>
                            <ul class="dropdown-menu" ui-outer-click="Ui.turnOff('task'+task.task_id)" ui-outer-click-if="Ui.active('task'+task.task_id)" role="menu" ui-show="task{{task.task_id}}" ui-state="task{{task.task_id}}" ui-turn-off="task{{task.task_id}}">
                                <li ng-click="agree(task)"><a>同意</a></li>
                                <li ng-click="reject(task)"><a>拒绝</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="semi-fixed-right semi-wide-80 text-right" ng-if="task.task_status == 1">
                        <span class="">{{"To be Confirmed" | translate}}</span>
                    </div>
                    <div class="semi-fixed-right semi-wide-80 text-right text-success" ng-if="task.task_status == 2 && task.is_comment == '0'">
                        <span class="">{{"Confirmed" | translate}}</span>
                    </div>
                    <div class="semi-fixed-right semi-wide-80 text-right" ng-if="task.task_status == 3 && task.is_comment == '0'">
                        <a ng-href="#/{{task.task_id}}/comment" class="btn btn-danger section section-condensed bg-transparent text-danger">{{"To be Rated" | translate}}</a>
                    </div>
                    <div class="semi-fixed-right semi-wide-80 text-right" ng-if="task.is_comment == '1'">
                        <span class="">已评价</span>
                    </div> -->
                </div>
            </div>
            <div class="section bg-gray-lighter" ng-click="toggle_collapse(task.task_id)">
                <div class="row text-center">
                    <div class="col-xs-4 section-wide text-ellipsis">
                        <i class="kk kk-icon kk-translate" style="position:relative;top:-3px"></i> {{task.from_language}}/{{task.to_language}}
                    </div>
                    <div class="col-xs-4 section-wide text-ellipsis">
                        <i class="kk kk-icon kk-location" style="position:relative;top:-3px"></i> {{task.country +","+task.city}}
                    </div>
                    <div class="col-xs-4 section-wide text-ellipsis">
                        <i class="kk kk-icon kk-bag" style="position:relative;top:-3px"></i> {{task.type}}
                    </div>
                </div>
                <div class="section section-wide bg-gray-lighter task_cost text-ellipsis">
                    {{task.currency_type}} {{task.price_for_day}}/天 (约{{task.to_currency_type}} {{task.to_price_for_day}}/天)
                </div>
                <div class="task_day section-wide bg-gray-lighter text-ellipsis">
                    {{task.start_time}}——{{task.end_time}}
                </div>
                <div class="task_detail section-wide bg-gray-lighter text-ellipsis" ng-class="{'detail-collapse': task.task_id == input.collapse_id}">
                    详细要求：{{task.description}}
                </div>
            </div>
            <div class="section" ng-repeat="applicant in task.request_users track by $index" ng-if="$index==0">
                <a ng-href="#/{{task.task_id}}/applicants" class="block text-gray">
                    <img ng-src="{{staticImageUrl + applicant.avatar || '../images/avatar.png'}}" alt="" class="circle icon">{{applicant.nickname}}
                </a>
            </div>
        </div>
        <div class="section section-large m text-center" ng-click="loadMore()">
            {{page.message}}
        </div>
    </div>
</div>
