<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"Task List" | translate}}</div>
<div ui-content-for="navbarAction">
    <a ng-href="#/setting" class="btn sidebar-toggle" ng-if="user.user_id">
        <i class="fa fa-cog text-large"></i>
    </a>
</div>
<div ui-content-for="backAction">
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-bars text-large"></i>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-header">
        <div class="btn-group justified">
            <label class="btn rectangle bg-gray-lighter" ng-class="{'text-primary':task_tab.name =='release','bg-white':task_tab.name  == 'release'}">
                <input type="radio" class="hide" ng-model="task_tab.name " value="release">{{"Task Created" | translate}}</label>
            <label class="btn rectangle bg-gray-lighter" ng-class="{'text-primary':task_tab.name  =='accept','bg-white':task_tab.name  =='accept'}">
                <input type="radio" class="hide" ng-model="task_tab.name " value="accept">{{"Task Received" | translate}}</label>
        </div>
    </div>
    <div class="scrollable-content">
        <div class="task-section text-left section section-wide section-condensed" ng-repeat="task in tasks">
            <div class="section">
                <div class="semi-auto semi-right-80">
                    <div class="text-ellipsis">
                        <img ng-src="{{staticImageUrl+task.avatar || '../images/avatar.png'}}" err-src="../images/avatar_1.png" class="circle icon" alt=""> {{task.title}}
                    </div>
                    <div class="semi-fixed-right semi-wide-80 text-right" ng-click="action(task)">
                        <span class="task-status-{{task.oper_status}}" style="white-space:nowrap">{{task.status_message}}</span>
                    </div>
                </div>
            </div>
            <div class="section bg-gray-lighter" ng-click="toggle_collapse(task.task_id)">
                <div class="row text-center">
                    <div class="col-xs-4 section-wide text-ellipsis">
                        <i class="kk kk-icon kk-translate" style="position:relative;top:-3px"></i> {{task.from_language}}/{{task.to_language}}
                    </div>
                    <div class="col-xs-4 section-wide text-ellipsis">
                        <i class="kk kk-icon kk-location" style="position:relative;top:-3px"></i> {{task.country +","+task.city}}
                    </div>
                    <div class="col-xs-4 section-wide text-ellipsis">
                        <i class="kk kk-icon kk-bag" style="position:relative;top:-3px"></i> {{task.type}}
                    </div>
                </div>
                <div class="section section-wide bg-gray-lighter task_cost text-ellipsis">
                    {{task.currency_type}} {{task.price_for_day}}/{{"Day" | translate}} (~{{task.to_currency_type}} {{task.to_price_for_day}}/{{"Day" | translate}})
                </div>
                <div class="task_day section-wide bg-gray-lighter text-ellipsis">
                    {{task.start_time}}——{{task.end_time}}
                </div>
                <div class="task_detail section-wide bg-gray-lighter text-ellipsis" ng-class="{'detail-collapse': task.task_id == input.collapse_id}">
                    {{"Detail Description" | translate}}：{{task.description}}
                </div>
            </div>
            <a ng-href="#/{{task.task_id}}/applicants" class="block section text-gray" ng-if="task.request_users.length>0 && task.contact_request_status ==0">
                <span ng-repeat="applicant in task.request_users track by $index" ng-if="$index<5">
                    <img ng-src="{{staticImageUrl + applicant.avatar || '../images/avatar.png'}}" alt="" class="circle icon">
                </span>
                <i class="text-gray-light fa fa-chevron-right pull-right" style="position:relative;top:4px"></i>
            </a>
            <span class="block section text-gray" ng-if="task.contact_request_status == '1'">
                {{task.contact_request}}
            </span>
        </div>
        <div class="section section-large m text-center" ng-click="loadMore()">
            {{page.message | translate}}
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal" ui-if="agree_panel" ui-state='agree_panel'>
        <div class="modal-backdrop in" ui-turn-off="agree_panel"></div>
        <div class="modal-dialog" style="margin-top:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{"Agree Or Not?"| translate}}</h4>
                </div>
                <div class="modal-footer text-center">
                    <div class="btn-group justified">
                        <span class="btn btn-default" ng-click="reject(current_task)">{{"Reject" | translate}}</span>
                        <span class="btn btn-primary" ng-click="agree(current_task)">{{"Accept" | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
