<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">悠译</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()">
        <i class="fa fa-chevron-left"></i>
    </span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="translator-cover">
            <imageview data-rate="750/422" src="staticImageUrl+translator.bg_image"></imageview>
            <div class="translator-info left">
                <span class="h3 block">{{translator.nickname}}</span>
                <span class="block">已有{{translator.foucus_count}}人关注TA</span>
            </div>
            <div class="translator-info right">
                <span class="block">{{translator.profession}}</span>
                <span class="block">长居住地：{{translator.address}}</span>
            </div>
            <div class="translator-avatar">
                <img ng-src="{{staticImageUrl + translator.avatar || '../images/avatar_1.png'}}" err-src="../images/avatar_1.png" alt="">
            </div>
        </div>
        <div style="margin:8px;">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group justified">
                        <span>
                            <span class="block text-small">服务态度</span>
                        <span class="block text-primary">{{translator.service_score}}</span>
                        </span>
                        <span class="text-center">
                            <span class="block text-small">专业水平</span>
                        <span class="block text-primary">{{translator.profession_score}}</span>
                        </span>
                        <span class="text-right">
                            <span class="block text-small">语言能力</span>
                        <span class="block text-primary">{{translator.language_score}}</span>
                        </span>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="clearfix">
                        <p class="pull-left text-small">任务完成数量</p>
                        <p class="pull-right text-primary">{{translator.done_task_count}}</p>
                    </div>
                    <div class="clearfix">
                        <p class="pull-left text-small">任务完成率</p>
                        <p class="pull-right text-primary">{{translator.done_task_rate}}</p>
                    </div>
                </div>
                <div class="list-group-item">
                    <span class="text-small">个人认证： {{authens.length}}项</span>
                    <div class="btn-group justified text-left">
                        <span ng-if="translator.identity_front !=''"><i class="kk kk-40 kk-authen-1"></i></span>
                        <span ng-if="translator.language_identity !=''"><i class="kk kk-40 kk-authen-2" ></i></span>
                        <span ng-if="translator.profession_identity"><i class="kk kk-40 kk-authen-3" ></i></span>
                        <span ng-if="translator.advanced_identity !=''"><i class="kk kk-40 kk-authen-4" ></i></span>
                    </div>
                    <div class="text-right" ng-show="authens.length >0" ui-turn-on="authen_panel">
                        查看详细
                    </div>
                </div>
                <div class="list-group-item">
                    <p class="text-small">评价标签</p>
                    <div class="row grid-gutter">
                        <div class="col-xs-4" ng-repeat="tag in translator.commentTags">
                            <span class="btn btn-default rectangle full-width text-ellipsis">{{tag.tag_name}}X{{tag.tag_count}}</span>
                        </div>
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="pull-left text-small">
                        擅长语言
                    </div>
                    <div class="pull-right text-right">
                        <p ng-repeat="language in translator.user_languages_list"><span class="text-small">{{language.from_language+"-"+language.to_language}}</span> <span>{{language.level}}</span></p>
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="clearfix">
                        <div class="pull-left text-small">
                            翻译类型
                        </div>
                        <div class="pull-right text-right">
                            <p class="text-small">翻译类型</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <div ng-repeat="translate_type in translator.translate_type_list">
                            <p class="text-small">{{translate_type.first_catalg_str}}</p>
                            <p>{{translate_type.second_catalog_str}}</p>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="clearfix">
                        <div class="pull-left text-small">
                            翻译经验
                        </div>
                        <div class="pull-right text-right">
                            <p class="text-small">经验介绍</p>
                        </div>
                    </div>
                    <div class="text-right" ng-repeat="experience in translator.experiences">
                        <p>{{experience.experience}}</p>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="clearfix">
                        <div class="pull-left text-small">
                            个人简介
                        </div>
                        <div class="pull-right text-right">
                            <p class="text-small">个人简介</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <p>{{translator.introduction}}</p>
                    </div>
                </div>
                <div class="list-group-item">
                    <span class="text-small">{{translator.commentUsers.length}}条评价</span>
                    <div class="media" ng-repeat="comment in translator.commentUsers track by $index">
                        <div class="media-body">
                            <h4 class="media-heading">
                                <i class="fa fa-star text-primary" ng-repeat="star in commentStars(comment.star) track by $index"></i>
                            </h4>
                            <p>{{comment.note}}</p>
                            <span>{{comment.post_time}}</span>
                            <div class="row">
                                <div class="col-xs-3" ng-repeat="p in comment.picList">
                                    <span class="thumbnail">
                                        <img ng-src="{{staticImageUrl + p.pic}}" class="block full-width">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="media-right">
                            <div style="height:48px;width:48px;border-radius:100%;-webkit-border-rasius:100%;overflow:hidden" class="avatar">
                                <img class="media-object" ng-src="{{staticImageUrl + comment.avatar || '../images/avatar.png'}}" alt="">
                            </div>
                            <p class="text-center">{{comment.nickname}}</p>
                        </div>
                        <div class="kk-line kk-horizon bg-gray-lighter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollable-footer">
        <div class="btn-group justified">
            <span class="btn btn-success rectangle">
                将我分享给朋友
            </span>
            <a ng-href="#/apply_flow" class="btn btn-danger rectangle">
                发送申请
            </a>
            <span class="btn bg-gray text-white rectangle" ng-click="like()" ng-if="translator.is_collection == 0">
                收藏此人
            </span>
            <span class="btn btn-primary text-white rectangle" ng-click="unlike()" ng-if="translator.is_collection == 1">
                取消收藏
            </span>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if="authen_panel" ui-state='authen_panel'>
        <!-- <div class="modal-backdrop in"></div> -->
        <div class="modal-dialog" style="margin:0">
            <div class="modal-content">
                <div class="modal-header text-primary clearfix">
                    <div class="pull-left section section-condensed bg-transparent" ui-turn-off="authen_panel">
                        <i class="fa fa-chevron-left" style="position:relative;top:3px"></i>
                    </div>
                    <h4 class="modal-title text-center">认证详情</h4>
                </div>
                <div class="modal-body">
                    <img ng-src="{{staticImageUrl+authen}}" class="block full-width" ng-repeat="authen in authens"/>
                </div>
            </div>
        </div>
    </div>
</div>