<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"UE" | translate}}</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()">
        <i class="fa fa-chevron-left"></i>
    </span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="translator-cover">
            <div>
                <imageview data-rate="750/422" data-fill="cover" src="staticImageUrl+translator.bg_image"></imageview>
            </div>
            <div class="tranlator-intro-bg">
                <div class="translator-info left">
                    <span class="h3 block">
                    {{translator.nickname}}
                    <i class="kk kk-icon" ng-class="{'kk-male':translator.gender=='1','kk-female':translator.gender !='1'}" style="position:absolute"></i>
                </span>
                    <span class="block">{{"Followed by XXX" | translate:translate_with_value(translator.foucus_count)}}</span>
                </div>
                <div class="translator-info right">
                    <span class="block">{{translator.profession}}</span>
                    <span class="block">{{"Place" | translate}}：{{translator.address}}</span>
                </div>
            </div>
            <div class="translator-avatar">
                <img ng-src="{{staticImageUrl + translator.avatar || '../images/avatar_1.png'}}" err-src="../images/avatar_1.png" alt="">
            </div>
        </div>
        <div style="margin:8px;">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group justified">
                        <span>
                            <span class="block text-small">{{"Service Attitude" | translate}}</span>
                            <span class="block text-primary" ng-if="translator.service_score !=0">
                                {{translator.service_score}}
                                <small class="text-gray"> / 5.0</small>
                            </span>
                            <span class="block text-primary" ng-if="translator.service_score ==0">-</span>
                        </span>
                        <span class="text-center">
                            <span class="block text-small">{{"Proficiency" | translate}}</span>
                            <span class="block text-primary" ng-if="translator.profession_score !=0">
                                {{translator.profession_score}}
                                <small class="text-gray"> / 5.0</small>
                            </span>
                            <span class="block text-primary" ng-if="translator.profession_score ==0">-</span>
                        </span>
                        <span class="text-right">
                            <span class="block text-small">{{"Language Skill" | translate}}</span>
                            <span class="block text-primary" ng-if="translator.language_score !=0">
                                {{translator.language_score}}
                                <small class="text-gray"> / 5.0</small>
                            </span>
                            <span class="block text-primary" ng-if="translator.language_score ==0">-</span>
                        </span>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="clearfix">
                        <p class="pull-left text-small">{{"Number of Tasks Completed" | translate}}</p>
                        <p class="pull-right text-primary">{{translator.done_task_count}}</p>
                    </div>
                    <div class="clearfix">
                        <p class="pull-left text-small">{{"Completion Rate" | translate}}</p>
                        <p class="pull-right text-primary">{{translator.done_task_rate}}</p>
                    </div>
                </div>
                <div class="list-group-item">
                    <span class="text-small">{{"Personal Identity" | translate}}：({{authen_count}})</span>
                    <div class="row">
                        <span class="col-xs-4" ng-if="translator.identity_status =='3'"><i class="kk kk-40 kk-authen-1"></i></span>
                        <span class="col-xs-4" ng-if="language_authen.length>0"><i class="kk kk-40 kk-authen-2" ></i></span>
                        <span class="col-xs-4" ng-if="industry_authen.length>0"><i class="kk kk-40 kk-authen-3" ></i></span>
                    </div>
                    <div class="text-right" ng-show="language_authen.length>0 || industry_authen.length>0" ui-turn-on="authen_panel">
                        {{"Preview Detail" | translate}}
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="pull-left text-small">
                        {{"Cost Fee" | translate}}
                    </div>
                    <div class="pull-right text-primary">
                        {{translator.pay_day}}{{translator.currency_type}}/{{"Day"|translate}}
                    </div>
                </div>
                <div class="list-group-item" ng-if="translator.commentTags.length >0">
                    <p class="text-small">{{"Comment Tags" | translate}}</p>
                    <div class="row grid-gutter">
                        <div class="col-xs-4" ng-repeat="tag in translator.commentTags">
                            <span class="btn btn-primary bg-transparent text-primary rectangle full-width text-ellipsis">{{tag.tag_name}}x{{tag.tag_count}}</span>
                            <!-- <span class="btn btn-default rectangle full-width text-ellipsis" ng-class="{'btn-primary':$odd,'bg-white':$odd,'text-primary':$odd}">{{tag.tag_name}}x{{tag.tag_count}}</span> -->
                        </div>
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="pull-left text-small">
                        {{"Language" | translate}}
                    </div>
                    <div class="pull-right text-right">
                        <p ng-repeat="language in translator.user_languages_list"><span class="text-small">{{language.from_language+"-"+language.to_language}}</span> <span>{{language.level}}</span></p>
                    </div>
                </div>
                <div class="list-group-item clearfix">
                    <div class="clearfix">
                        <div class="pull-left text-small">
                            {{"Type" | translate}}
                        </div>
                        <div class="pull-right text-right">
                            <p class="text-small">{{"Type" | translate}}</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <div ng-repeat="translate_type in translator.translate_type_list">
                            <p class="text-small">{{translate_type.first_catalg_str}}</p>
                            <p>{{translate_type.second_catalog_str}}</p>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="clearfix">
                        <div class="pull-left text-small">
                            {{"Experience" | translate}}
                        </div>
                        <div class="pull-right text-right">
                            <p class="text-small">{{"Experience" | translate}}</p>
                        </div>
                    </div>
                    <div class="" ng-repeat="experience in translator.experiences">
                        <p>{{experience.experience}}</p>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="clearfix">
                        <div class="pull-left text-small">
                            {{"Profile" | translate}}
                        </div>
                        <div class="pull-right text-right">
                            <p class="text-small">{{"Profile" | translate}}</p>
                        </div>
                    </div>
                    <div class="">
                        <p>{{translator.introduction}}</p>
                    </div>
                </div>
                <div class="list-group-item">
                    <span class="text-small">{{translator.commentUsers.length}}{{"Comments Count" | translate}}</span>
                    <div class="media" ng-repeat="comment in translator.commentUsers track by $index">
                        <div class="media-body">
                            <h4 class="media-heading">
                                <i class="fa fa-star text-primary" ng-repeat="star in commentStars(comment) track by $index"></i>
                                <i class="fa fa-star-half-empty text-primary" ng-if="comment.half_star"></i>
                            </h4>
                            <p>{{comment.note}}</p>
                            <span>{{comment.post_time}}</span>
                            <div class="row">
                                <div class="col-xs-3" ng-repeat="p in comment.picList">
                                    <span class="thumbnail" ng-click="preview(comment.picList)">
                                        <img ng-src="{{staticImageUrl + p.pic}}" err-src="../images/avatar_1.png" class="block full-width">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="media-right">
                            <div style="height:48px;width:48px;border-radius:100%;-webkit-border-rasius:100%;overflow:hidden" class="avatar">
                                <img class="media-object" ng-src="{{staticImageUrl + comment.avatar || '../images/avatar.png'}}" err-src="../images/avatar_1.png" alt="">
                            </div>
                            <p class="text-center">{{comment.nickname}}</p>
                        </div>
                        <div class="kk-line kk-horizon bg-gray-lighter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollable-footer" ng-hide="(to =='preview')">
        <div class="btn-group justified" ng-if="translator.user_id">
            <div class="btn btn-success rectangle">
                <span ui-turn-on="share_panel">{{"Share the App" | translate}}</span>
                <ul class="dropdown-menu top" ui-outer-click="Ui.turnOff('share_panel')" ui-outer-click-if="Ui.active('share_panel')" role="menu" ui-show="share_panel" ui-state="share_panel" ui-turn-off="share_panel">
                    <li>
                        <a ng-href="{{share_footer.share.sina}}">
                            <i class="kk kk-30 kk-weibo"></i>
                            <span class="text-gray">{{"Weibo" | translate}}</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li ng-if="wx_browser">
                        <a ui-turn-on="weixin_share_panel">
                            <i class="kk kk-30 kk-weixin"></i>
                            <span class="text-gray">{{"WeChat" | translate}}</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="facebookShare()">
                            <i class="kk kk-30 kk-facebook"></i>
                            <span class="text-gray">{{"Facebook" | translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <a ng-click="apply()" class="btn btn-danger rectangle" ng-if="translator.apply_status ==0 && translator.apply_status !=2">
                {{"Apply" | translate}}
            </a>
            <a class="btn btn-danger rectangle" ng-if="translator.apply_status ==1">
                {{"Applyed" | translate}}
            </a>
            <span class="btn bg-gray text-white rectangle" ng-click="like()" ng-if="translator.is_collection == 0">
                {{"Follow" | translate}}
            </span>
            <span class="btn btn-primary text-white rectangle" ng-click="unlike()" ng-if="translator.is_collection == 1">
                {{"Followed" | translate}}
            </span>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if="authen_panel" ui-state='authen_panel'>
        <!-- <div class="modal-backdrop in"></div> -->
        <div class="modal-dialog scrollable-dialog" style="margin:0">
            <div class="modal-content">
                <div class="modal-header text-primary clearfix">
                    <div class="pull-left section section-condensed bg-transparent" ui-turn-off="authen_panel">
                        <i class="fa fa-chevron-left" style="position:relative;top:3px"></i>
                    </div>
                    <h4 class="modal-title text-center">{{"Authentication Detail" | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div class="section section-wide" style="padding-top:0" ng-if="translator.identity_status =='3'">
                        <span class="text-primary">
                            <i class="kk kk-40 kk-authen-2" ></i>
                            {{"Personal ID Verification Passed" | translate}}
                        </span>
                        <div class="section text-center">{{"Authentication Pass"|translate}}</div>
                    </div>
                    <div class="kk-line kk-horizon bg-gray-lighter"></div>
                    <div class="section section-wide text-center" ng-if="language_authen.length>0">
                        <div class="section section-wide">
                            <span class="pull-left text-primary">
                                <i class="kk kk-40 kk-authen-2" ></i>
                                {{"Language Certificate" | translate}}
                            </span>
                            <span class="pull-right" style="position:relative;top:11px">{{language_authen.length}}</span>
                        </div>
                        <div ng-repeat="language in language_authen">
                            <h4>{{language.title}}</h4>
                            <imageview src="staticImageUrl+language.cover" data-rate="1"></imageview>
                        </div>
                        <!-- <img ng-src="{{staticImageUrl+identify.cover}}" class="block full-width" /> -->
                    </div>
                    <div class="kk-line kk-horizon bg-gray-lighter"></div>
                    <div class="section section-wide text-center" ng-if="industry_authen.length>0">
                        <div class="section section-wide">
                            <span class="pull-left text-primary">
                                <i class="kk kk-40 kk-authen-3" ></i>
                                {{"Professional Qualification" | translate}}
                            </span>
                            <span class="pull-right" style="position:relative;top:11px">{{industry_authen.length}}</span>
                        </div>
                        <div ng-repeat="industry in industry_authen">
                            <h4>{{industry.title}}</h4>
                            <imageview src="staticImageUrl+industry.cover"></imageview>
                        </div>
                        <!-- <img ng-src="{{staticImageUrl+identify.cover}}" class="block full-width" /> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" ui-if="preview_panel" ui-state='preview_panel'>
        <div class="modal-backdrop"></div>
        <div class="modal-dialog scrollable-dialog" style="margin:0">
            <div class="section" ui-turn-off="preview_panel" style="background-color:black">
                <span class="btn text-white text-very-big" style="height:42px;width:42px; border:1px solid white;-webkit-border-radius:100%;border-radius:100%;line-height:30px">
                    X
                </span>
            </div>
            <!-- banner -->
            <previewer data-options="{autoPlay:10000}" data-rate="auto">
                <div class="image-holder" ng-repeat="b in preview_images" on-repeat-done>
                    <img ng-src="{{staticImageUrl + b.pic}}" err-src="../images/banner.png" class="block full-width" alt="">
                </div>
            </previewer>
        </div>
    </div>
    <div class="modal" ui-if="weixin_share_panel" ui-state='weixin_share_panel' ui-turn-off="weixin_share_panel">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog scrollable-dialog" style="margin:0">
            <div class="kk kk-weixin-share-tip" ng-if="wx_browser"></div>
            <div ng-if="!wx_browser" ui-turn-off="weixin_share_panel">
                <imageview src="qrcode" data-rate="1"></imageview>
            </div>
        </div>
    </div>
</div>
