<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">
    <span class="search-input">
        <input type="text" class="form-control full-width" ng-focus="show_search_panel()" placeholder="{{'Enter Search Keywords, Language/Place/Price/Type' | translate}}">
    </span>
</div>
<div ui-content-for="navbarAction">
    <a ng-href="#/setting" class="btn sidebar-toggle" ng-if="user.user_id">
        <i class="fa fa-cog text-large"></i>
    </a>
</div>
<div ui-content-for="backAction">
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-bars text-large"></i>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-header">
        <div class="section section-condensed" id="filter">
            <div class="btn-group justified">
                <label class="btn">
                    <input type="radio" name="filter" class="hide" ng-model="filter.name" value="language">{{"Language" | translate}}<i class="kk kk-icon" ng-class="{'kk-check':choosen.languages.length == 2}"></i></label>
                <label class="btn">
                    <input type="radio" name="filter" class="hide" ng-model="filter.name" value="location">{{"Place" | translate}}<i class="kk kk-icon" ng-class="{'kk-check':choosen.city.name != ''}"></i></label>
                <label class="btn">
                    <input type="radio" name="filter" class="hide" ng-model="filter.name" value="price">{{"Price" | translate}}<i class="kk kk-icon" ng-class="{'kk-check':choosen.price.range != ''}"></i></label>
                <label class="btn">
                    <input type="radio" name="filter" class="hide" ng-model="filter.name" value="category">{{"Type" | translate}}<i class="kk kk-icon" ng-class="{'kk-check':choosen.category.name != ''}"></i></label>
            </div>
        </div>
    </div>
    <div class="scrollable-content">
        <a ng-href="#/translators/{{translator.user_id}}" class="translator" ng-repeat="translator in translators track by $index">
            <imageview data-rate="auto" src="staticImageUrl+translator.bg_image"></imageview>
            <span class="translator-intro">
                <span class="h3 block">
                <i class="kk kk-icon" ng-class="{'kk-male':translator.gender=='1','kk-female':translator.gender !='1'}"></i>
                {{translator.nickname}}
                </span>
            <span class="block">{{translator.return_language}}</span>
            <span class="block">{{"Place" | translate}}：{{translator.address}}</span>
            <span class="block text-ellipsis">{{translator.introduction}}</span>
            <span class="block text-ellipsis" ng-if="translator.age_status == '1'">{{translator.age}}</span>
            </span>
        </a>
        <div class="section text-center m" ng-click="loadMore()">{{page.message | translate}}</div>
        <!-- hide content -->
        <div ng-include="'language.html'" ng-if="filter.name == 'language'"></div>
        <div ng-include="'location.html'" ng-if="filter.name == 'location'"></div>
        <div ng-include="'price.html'" ng-if="filter.name == 'price'"></div>
        <div ng-include="'category.html'" ng-if="filter.name == 'category'"></div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if="search_translators_panel" ui-state='search_translators_panel'>
        <!-- <div class="modal-backdrop in"></div> -->
        <form name="searchForm" ng-submit="ajaxForm()" class="modal-dialog" style="margin:0">
            <div class="navbar navbar-app">
                <div class="navbar-brand navbar-brand-center">
                    <span class="search-input">
                        <input type="text" class="form-control full-width" ng-model="input.search" focus-me="true" placeholder="{{'Enter Search Keywords, Language/Place/Price/Type' | translate}}">
                    </span>
                </div>
                <div class="btn-group pull-left">
                    <div class="btn sidebar-toggle" ui-turn-off="search_translators_panel">
                        <i class="fa fa-chevron-left text-white"></i>
                    </div>
                </div>
                <div class="btn-group pull-right">
                    <a ng-click="search()" class="btn">
                        <i class="fa fa-search text-large text-white"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
