<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">{{"My Wallet" | translate}}</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section large">
            <div class="media">
                <div class="media-left">
                    <div style="height:64px;width:64px">
                        <img class="media-object" ng-src="../images/dollar.png" alt="">
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" style="position:relative;top:8px">
                        {{"Account Balance" | translate}}
                        <div class="text-very-large text-primary">{{wallet.money | currency:""}}</div>
                    </h4>
                </div>
            </div>
        </div>
        <div class="kk-line kk-horizon bg-gray-lighter"></div>
        <div class="list-group">
            <a ng-href="#/cash" class="list-group-item">
                <span class="list-group-item-text">{{"Withdraw" | translate}}</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
            </a>
            <a ng-href="#/modify_trade_password" class="list-group-item">
                <span class="list-group-item-text">{{"Payment Password" | translate}}</span>
                <i class="text-gray-light fa fa-chevron-right pull-right"></i>
                <span class="pull-right text-primary" ng-if="wallet.is_setPayPwd == 0">{{"Not Set" | translate}}</span>
                <span class="pull-right text-primary" ng-if="wallet.is_setPayPwd == 1">{{"Change Transaction Password" | translate}}</span>
            </a>
        </div>
    </div>
</div>
