// by dribehance <dribehance.kksdapp.com>
.kk {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    &.kk-icon {
        width: 20px;
        height: 20px;
    }
    &.kk-25 {
        width: 25px;
        height: 25px;
    }
    &.kk-30 {
        width: 30px;
        height: 30px;
    }
    &.kk-40 {
        width: 40px;
        height: 40px;
    }
    &.kk-50 {
        width: 50px;
        height: 50px;
    }
    &.kk-tab-1 {
        background-size: 100%;
        background-image: url("../images/tab_1.png")
    }
    &.kk-tab-2 {
        background-size: 100%;
        background-image: url("../images/tab_2.png")
    }
    &.kk-tab-3 {
        background-size: 100%;
        background-image: url("../images/tab_3.png")
    }
    &.kk-tab-4 {
        background-size: 100%;
        background-image: url("../images/tab_4.png")
    }
    &.kk-tab-5 {
        background-size: 100%;
        background-image: url("../images/tab_5.png")
    }
    &.kk-tab-6 {
        background-size: 90%;
        background-image: url("../images/tab_6.png")
    }
    &.kk-sidebar-1 {
        background-size: 100%;
        background-image: url("../images/sidebar_1.png")
    }
    &.kk-sidebar-2 {
        background-size: 100%;
        background-image: url("../images/sidebar_2.png")
    }
    &.kk-sidebar-3 {
        background-size: 100%;
        background-image: url("../images/sidebar_3.png")
    }
    &.kk-sidebar-4 {
        background-size: 100%;
        background-image: url("../images/sidebar_4.png")
    }
    &.kk-sidebar-5 {
        background-size: 100%;
        background-image: url("../images/sidebar_5.png")
    }
    &.kk-sidebar-6 {
        background-size: 100%;
        background-image: url("../images/sidebar_6.png")
    }
    &.kk-edit {
        background-size: 100%;
        background-image: url("../images/edit.png")
    }
    &.kk-translate {
        background-size: 76%;
        background-image: url("../images/translate.png")
    }
    &.kk-location {
        background-size: 76%;
        background-image: url("../images/location.png")
    }
    &.kk-bag {
        background-size: 76%;
        background-image: url("../images/bag.png")
    }
    &.kk-check {
        position: relative;
        top: -1px;
        background-size: 80%;
        background-image: url("../images/check.png")
    }
    &.kk-checked {
        background-size: 80%;
        background-image: url("../images/checked_1.png")
    }
    &.kk-checked.active {
        background-size: 80%;
        background-image: url("../images/checked.png")
    }
    &.kk-weibo {
        background-size: 100%;
        background-image: url("../images/weibo.png")
    }
    &.kk-weixin {
        background-size: 100%;
        background-image: url("../images/weixin.png")
    }
    &.kk-facebook {
        background-size: 100%;
        background-image: url("../images/facebook.png")
    }
    &.kk-calendar {
        background-size: 100%;
        background-image: url("../images/clock.png")
    }
    &.kk-authen-1 {
        background-size: 100%;
        background-image: url("../images/IDCard.png")
    }
    &.kk-authen-2 {
        background-size: 100%;
        background-image: url("../images/language.png")
    }
    &.kk-authen-3 {
        background-size: 100%;
        background-image: url("../images/authenication.png")
    }
    &.kk-authen-4 {
        background-size: 100%;
        background-image: url("../images/diamond.png")
    }
    &.kk-female {
        background-size: 50%;
        background-image: url("../images/woman.png")
    }
    &.kk-male {
        background-size: 50%;
        background-image: url("../images/sex.png")
    }
    &.kk-hourglass {
        position: relative;
        top: -1px;
        width: 15px;
        height: 15px;
        background-size: 60%;
        background-image: url("../images/hourglass.png")
    }
    &.kk-like {
        width: 12px;
        height: 12px;
        margin: 0 5px 0 0;
        position: relative;
        top: -2px;
        background-size: 100%;
        background-image: url("../images/like_1.png")
    }
    &.kk-like.active {
        background-size: 100%;
        background-image: url("../images/like_2.png")
    }
    &.kk-accept {
        width: 12px;
        height: 12px;
        margin: 0 5px 0 0;
        position: relative;
        top: -1px;
        background-size: 100%;
        background-image: url("../images/accept.png")
    }
    &.kk-accept.active {
        background-size: 100%;
        background-image: url("../images/accept_1.png")
    }
    &.kk-good {
        position: relative;
        top: -3px;
        margin-left: 0;
        background-size: 100%;
        background-image: url("../images/good_normal.png")
    }
    &.kk-good.active {
        background-image: url("../images/good_active.png")
    }
    &.kk-soso {
        position: relative;
        top: -3px;
        margin-left: 0;
        background-size: 100%;
        background-image: url("../images/soso_normal.png")
    }
    &.kk-soso.active {
        background-image: url("../images/soso_active.png")
    }
    &.kk-bad {
        position: relative;
        top: -2px;
        margin-left: 0;
        background-size: 100%;
        background-image: url("../images/bad_normal.png")
    }
    &.kk-bad.active {
        background-image: url("../images/bad_active.png")
    }
    &.kk-radio {
        background-size: 80%;
        background-image: url("../images/radio_unchecked.png")
    }
    &.kk-radio.active {
        background-image: url("../images/radio_checked.png")
    }
    &.kk-weixin-share-tip {
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-image: url("../images/weixin_share.png");
        background-position: top right;
    }
    &.kk-weixin-share-qrcode {
        width: 100%;
        height: 100%;
        background-size: 80%;
        background-image: url("../images/qrcode.jpg");
        background-position: center center;
    }
}

.btn-navbar {
    line-height: 18px !important;
}

.btn-navbar.active {
    span {
        color: @brand-primary;
    }
    .kk.kk-tab-1 {
        background-image: url("../images/tab_1_active.png")
    }
    .kk.kk-tab-2 {
        background-image: url("../images/tab_2_active.png")
    }
    .kk.kk-tab-3 {
        background-image: url("../images/tab_3_active.png")
    }
    .kk.kk-tab-4 {
        background-image: url("../images/tab_4_active.png")
    }
    .kk.kk-tab-6 {
        background-image: url("../images/tab_6_active.png")
    }
}

// line
.kk-line {
    vertical-align: middle;
    &.kk-horizon {
        display: block;
        height: 1px;
    }
    &.kk-vertical {
        display: inline-block;
        width: 3px;
        height: 24px;
    }
    &.kk-5 {
        height: 5px;
    }
}
