.avatar {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
    background-color: white;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    &.avatar-large {
        width: 150px;
        height: 150px;
    }
    img {
        width: 100%;
    }
}

.kk-input-group {
    position: relative;
    padding: 8px 15px;
    margin: auto auto;
    &.has-addon {
        padding-left: 65px;
    }
    &.flat {
        input {
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-radius: 0;
            -webkit-border-radius: 0;
        }
    }
    .addon {
        position: absolute;
        left: 15px;
        width: 50px;
        text-align: center;
        color: @brand-primary;
        border-right: 1px solid @brand-warning;
        border-bottom: 1px solid @brand-warning;
        .rectangle;
    }
    .input-group-addon {
        border-color: @brand-primary;
        .rectangle;
    }
    .tip {
        position: absolute;
        right: 15px;
        bottom: -8px;
    }
    .btn[type='submit'] {
        margin-top: 50px;
    }
    .btn-sms {
        position: absolute;
        right: 15px;
        .rectangle;
    }
}

.youyi-flat-input {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.rectangle {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.search-input {
    display: inline-block;
    margin: auto auto;
    width: 230px;
    height: 30px;
    position: relative;
    top: -5px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../images/search-input.png");
    input {
        position: relative;
        top: -3px;
        border: none;
        background: none;
        padding-left: 30px;
    }
}

.modal .search-input {}

.language-content {
    position: absolute;
    top: 0px;
    bottom: 30px;
    width: 80%;
    background-color: white;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.language-footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 80%;
    background-color: white;
}

.location-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 80%;
    background-color: white;
}

.location {
    position: absolute;
    right: 0;
    width: 80%;
    top: 0px;
    bottom: 30px;
    background-color: white;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.price {
    position: absolute;
    right: 0;
    width: 80%;
    top: 0px;
    bottom: 30px;
    background-color: white;
}

.category {
    position: absolute;
    width: 80%;
    right: 1px;
    top: 0px;
    bottom: 30px;
    background-color: white;
}

.filter-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: @gray-lighter;
    background-color: fade(@gray-lighter, 50%);
}

.kk-select {
    position: relative;
    margin: 6px 15px;
    border: 1px solid @brand-warning;
    select {
        border: none;
        -webkit-appearance: none;
        background-image: url("../images/select_carset.png");
        background-repeat: no-repeat;
        background-position: right center;
    }
    // &:before {
    //     font: normal normal normal 14px/1 FontAwesome;
    //     content: "\f0d7";
    //     display: inline-block;
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    //     width: 32px;
    //     line-height: 31px;
    //     text-align: center;
    //     color: @brand-warning;
    //     border-left: 1px solid @brand-warning;
    // }
}

// margin section
.task-section {
    display: block;
    margin: 8px;
    background-color: white;
    box-shadow: 0 2px 5px @gray-light;
    -webkit-box-shadow: 0 2px 5px @gray-light;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    color: @gray;
    .task-status--1,
    .task-status-8 {
        padding: 3px 12px;
        color: @brand-primary;
        border: 1px solid @brand-primary;
        border-radius: 4px;
        -webkit-border-radius: 4px;
    }
    .task-status-1,
    .task-status-7 {
        color: @brand-success;
    }
    .detail-collapse {
        white-space: normal;
    }
}

.youyi-date,
.youyi-time {
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webikt-border-radius: 0;
}

.youyi-date {
    // width: 100px;
    border-bottom: 1px solid @gray-lighter;
    border-right: 1px solid @gray-lighter;
}

.youyi-time {
    // width: 50px;
    border-bottom: 1px solid @gray-lighter;
}

.country {
    .country-header {
        padding: 5px 8px;
        background-color: @gray-light;
        color: white;
    }
    .btn {
        border-left: 0;
        border-top: 0;
    }
    .btn:nth-child(3n) {
        border-right: 0;
    }
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: fade(black, 50%);
    z-index: 1000;
    .cover-box {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -60px;
        padding: 15px;
        background-color: white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    .cover-close {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background-image: url("../images/close.png");
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.translator {
    position: relative;
    display: block;
    overflow: hidden;
    .translator-intro {
        display: block;
        position: absolute;
        top: 8px;
        right: 0;
        width: 50%;
        padding: 15px 10px;
        color: white;
        text-align: right;
        background-color: @gray-light;
        background-color: fade(black, 50%);
    }
}

.translator-cover {
    position: relative;
    margin-bottom: 50px;
    background-color: rgb(166, 208, 122);
    .translator-info {
        position: absolute;
        bottom: 0;
        padding: 8px;
        color: white;
    }
    .left {
        left: 0;
    }
    .right {
        right: 0;
        text-align: right;
    }
    .translator-avatar {
        position: absolute;
        bottom: -50px;
        left: 50%;
        margin-left: -50px;
        width: 100px;
        height: 100px;
        border: 3px solid white;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        overflow: hidden;
        background-color: white;
    }
    .translator-bg {
        display: block;
        height: 158px;
        line-height: 158px;
        overflow: hidden;
        text-align: center;
        img {
            min-width: 300px;
            min-height: 300px;
            max-width: 100%;
        }
    }
    .tranlator-intro-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 67px;
        background-color: fade(@gray-base, 50%);
    }
}

.recommand {
    position: relative;
    margin: 10px 15px 40px 15px;
    background-color: white;
    .recommand-header {
        padding: 8px;
        background-color: @gray-lighter;
    }
    .recommand-body {
        padding: 8px;
    }
    .recommand-avatar {
        position: absolute;
        bottom: -40px;
        left: 50%;
        margin-left: -40px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        overflow: hidden;
        border: 3px solid white;
        background-color: @app-bg;
    }
}

.data-picker {
    position: relative;
    margin: 8px;
    overflow: hidden;
    background-color: white;
    .picker-column {
        display: block;
        float: left;
        width: 50%;
        height: 114px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .picker-footer {
        padding-top: 8px;
        padding-bottom: 8px;
        float: left;
        width: 100%;
        border-top: 5px solid @gray-lighter;
        background-color: @brand-primary;
        color: white;
    }
    .list-group {
        margin-bottom: 0;
    }
    .list-group-item.selected {
        color: @brand-primary;
        background-image: url("../images/checked.png");
        background-repeat: no-repeat;
        background-position: 110px center;
        background-size: 10%;
    }
}

.language_panel {
    .list-group-item.selected {
        color: @brand-primary;
        background-image: url("../images/checked.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 10%;
    }
}

.me_info {
    .pull-right {
        width: 80%
    }
}

.sidebar-cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: @gray-base;
    background-color: fade(@gray-base, 50%);
    // display: none;
}

.circle {
    background-color: @gray-lighter;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    margin-right: 5px;
    overflow: hidden;
    &.icon {
        width: 20px;
        height: 20px;
    }
    &.icon-70 {
        width: 70px;
        height: 70px;
    }
}

.scrollable-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .modal-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .modal-body {
        position: absolute;
        top: 51px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: scroll;
    }
}

.dropdown-menu.top {
    top: auto;
    bottom: 100%;
    // min-width: 108px;
}

.password-input {
    display: block;
    position: relative;
    width: 260px;
    height: 70px;
    padding: 20px;
    margin: auto auto;
    background-image: url("../images/password_input.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    .dot {
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        width: 8px;
        height: 8px;
        background-color: black;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        &.dot_0 {
            left: 18px;
        }
        &.dot_1 {
            left: 61px;
        }
        &.dot_2 {
            left: 104px;
        }
        &.dot_3 {
            left: 147px;
        }
        &.dot_4 {
            left: 190px;
        }
        &.dot_5 {
            left: 233px;
        }
    }
    input {
        border: none;
        outline: 0;
        background-color: transparent;
        color: transparent;
    }
}

.authen-status-1 {
    color: @brand-success;
}

.authen-status-2 {
    color: @brand-warning;
}
