// ----------------------------navbar off   ---------------------------- //
.has-navbar-top.off-top .app-body {
    padding-top: 0;
}

.has-navbar-top.off-top .navbar-absolute-top {
    display: none;
}

.has-navbar-bottom.off-bottom .app-body {
    padding-bottom: 0;
}

.has-navbar-bottom.off-bottom .navbar-absolute-bottom {
    display: none;
}

.navbar-brand {
    background-color: @brand-primary;
    color: white;
}
.navbar-absolute-top .btn {
	color: white;
}