.owl-theme .owl-controls {
	margin-top: -20px;
}
.owl-theme .owl-controls .owl-page span {
	width: 8px;
	height: 8px;
	margin:5px
}
.label, dt, kbd kbd, label {
	font-weight: 400;
}
.section.m {
	margin: 8px;
}
.section.large {
	padding-left: 15px;
	padding-right: 15px;
}
.row.grid-gutter >* {
	margin-bottom: 5px;
}