// mobileangularui Overrides
@brand-primary: #ff7405;
@brand-success: #84c24b;
@brand-warning: #ff7405;
@brand-danger: #ff3b30;
@brand-info: #59a7da;
@gray-ligher:#eeeeee;
// Bootstrap Overrides
@state-warning-bg:@brand-warning;
@state-warning-text:white;
@font-family-base:"微软雅黑";
@app-bg:#f5f1e8;
@font-size-base:12px;
@sidebar-background:white;